﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
<!-- <link href="../modules/users/client/css/bootstrap.min.css" rel="stylesheet">
<link href="../modules/users/client/css/font-awesome.min.css" rel="stylesheet">
<link href="../modules/users/client/css/animate.min.css" rel="stylesheet">
<link href="../modules/users/client/css/jquery.steps.css" rel="stylesheet">
<link href="../modules/users/client/css/chosen/chosen.css" rel="stylesheet">
<link href="../modules/users/client/css/style.min.css" rel="stylesheet">
<link href="../modules/users/client/css/styles-core.css" rel="stylesheet">
<link href="../modules/users/client/css/styles-core-responsive.css" rel="stylesheet">
<link href="../modules/users/client/css/jquery-ui.css" rel="stylesheet">
<link href="../modules/users/client/css/tooltipster.css" rel="stylesheet">
<link href="../modules/users/client/css/alerts/sweetalert.css" rel="stylesheet"> -->
  <!-- Application CSS Files -->
  <!-- {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %} -->
</head>

<!-- <body class="ng-cloak"> -->
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class=""></header>
<!--   <section class="content">
    <section class="container"> -->
      {% block content %}{% endblock %}
<!--     </section>
  </section> -->

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
<!-- </body> -->

</html>
