<section>
  <div class="page-header">
    <h1>{{vm.dashboard._id ? 'Edit Dashboard' : 'New Dashboard'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.dashboardForm" class="form-horizontal" ng-submit="vm.save(vm.form.dashboardForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.dashboard.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.dashboardForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dashboard title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.dashboard.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.dashboard._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
