<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Tuition Analyzer</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>College</a>
      </li>
      <li class="active">
        <strong>Tuition</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div id="col-lg-12" >
  <div class="row" id="q0"  >
    <div class="row" >
      <div class="col-md-12" style="padding-left:50px; padding-right:50px;">
        <h1>
        <span aria-hidden="true" class="icon icon-grid-big" ></span>
        <span class="main-text" >
          <strong><h3>
          <span class="main-text" >
            Education is always worth it. Just make sure you know how much! <br>
          </span>
          </h3></strong>
          <h5>
          <span class="main-text">
            We analyze the incremental value of your expected salary vs. the cost of your education and the opportunity cost of going to school<br>
          </span>
          </h5>
        </span>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <form name="tutionForm" novalidate>
    <div class="col-md-12" id="q1">
      <div class="ibox" data-url="pages-profile.html">
        <div class="c-widget-icon">
          <span class="icon icon-dollar"></span>
        </div>
        <div class="ibox" >
          <div class="ibox-title"><br>
            <center><strong>1. How much will your student loan be?</strong></center>
          </div>
          <div class="ibox-content"><br>
            <center><h3>Search for a estimated full 4 year tuition</h3><br>
            <h5>Or just enter you estimated Loan Amount</h5></center> <br> <br>
            <center>
            <div class="input-group" style="width:300px;">
              <select data-placeholder="Choose a State" class="form-control m-b"  tabindex="2" ng-model="tution.state" ng-init="getStates()" ng-change="getUniversities()" name="state"  >
                <option value="">Select a State</option>
                <option ng-repeat="state in states" value="{{ state.name }}">{{ state.name }}</option>
              </select>
              <select data-placeholder="Choose a University" class="form-control m-b"  tabindex="2" ng-model="tution.tution" ng-change="updateLoan()" name="university"  >
                <option value="">Select a University</option>
                <option ng-repeat="uni in unis" value="{{ uni.tuition }}">{{ uni.institution_name }}</option>
              </select>
            </div>
            <div class="input-group"  style="width:300px;">
              <input type="text" ng-model="tution.loan" class="form-control"   placeholder="$" name="loan" required ng-class="{'has-error': tutionForm.loan.$invalid && tutionForm.loan.$dirty}" >
              <br><br>
              
            </div>
            <div class="input-group"  style="width:300px;">
              <a href="javascript:void(0);" ng-disabled="tutionForm.loan.$invalid" class="btn   l0hide l1hide l2show" data-animation="fadeIn" style="width:100%;        background: linear-gradient(to right, #000000 , rgb(2, 82, 119)) border-color: #4596F1;">
                <i class="fa fa-chevron-right fa-2x"></i>
                <span  style="font-size:20px;">&nbspNext&nbsp</span>
              </a>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12" style="display: none;" id="q2">
      <div class="ibox" data-url="pages-profile.html">
        <div class="c-widget-icon">
          <span class="icon icon-dollar"></span>
        </div>
        <div class="ibox" style="padding-right: 10%">
          <div class="ibox-title"><br>
            <center><strong>1. How much will your student loan be?</strong></center>
          </div>
          <div class="ibox-content"><br>
            <center><strong>2. Cost of Funds</strong></center>
            <div class="c-widget-content-sub">
              <center><h3>How much does/will your loan cost?</h3><br>
              <h5>Be sure to know how the rate and term affect you</h5></center><br><br>
              <center>
              <div class="input-group"  style="width:200px;">
                <input type="text" class="form-control" ng-model="tution.rate"  placeholder="%" name="rate" required ng-class="{'has-error': tutionForm.rate.$invalid && tutionForm.rate.$dirty}">
                <input type="text" class="form-control" ng-model="tution.term"  placeholder="Years" name="term" required ng-class="{'has-error': tutionForm.term.$invalid && tutionForm.term.$dirty}"><br>
              </div>
              <div class="input-group"  style="width:200px;">
                <a href="javascript:void(0);" class="btn  l2hide l1show" data-animation="fadeIn" style="width:200px;        background: linear-gradient(to right, #000000 , rgb(2, 82, 119)) border-color: #4596F1;">
                  <i class="fa fa-chevron-left fa-2x"></i>
                  <span  style="font-size:20px;">&nbspPrevious&nbsp</span>
                </a>
              </div>
              <div class="input-group"  style="width:200px;">
                <a href="javascript:void(0);" ng-disabled="tutionForm.term.$invalid || tutionForm.rate.$invalid" class="btn l2hide l3show" data-animation="fadeIn" style="width:200px;        background: linear-gradient(to right, #000000 , rgb(2, 82, 119)) border-color: #4596F1;">
                  <i class="fa fa-chevron-right fa-2x"></i>
                  <span  style="font-size:20px;">&nbspNext&nbsp</span>
                </a>
              </div>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="display: none;" id="q3">
      <div class="ibox" data-url="pages-profile.html">
        <div class="c-widget-icon">
          <span class="icon icon-dollar"></span>
        </div>
        <div class="ibox" style="padding-right: 10%">
          <div class="ibox-title"><br>
            <center><strong>1. How much will your student loan be?</strong></center>
          </div>
          <div class="ibox-content"><br>
            <center><strong>3. Expected Salary?</strong></center>
            <div class="c-widget-content-sub">
              <center><strong><h3>It has to be worth it!</h3></strong><br>
              <h5>Have an expectation of a realistic salary</h5><br>
              We will analyze the incremental value of your expected salary <br>
              compared to your current salary adjusted for tuition payments</h5></center><br>
              <center>
              <div class="input-group"  style="width:max;">
                <input type="text" class="form-control" ng-model="tution.salaryWithDegree"   placeholder="$ Current Annual Salary (with degree)" name="salaryWithDegree" required ng-class="{'has-error': tutionForm.salaryWithDegree.$invalid && tutionForm.salaryWithDegree.$dirty}">
                <input type="text" class="form-control" ng-model="tution.salaryWithoutDegree"   placeholder="$ Expected Annual Starting Salary (without Degree)" name="salaryWithoutDegree" required ng-class="{'has-error': tutionForm.salaryWithoutDegree.$invalid && tutionForm.salaryWithoutDegree.$dirty}"><br>
              </div></center>
            </div>
            <center>
            <div class="input-group"  style="width:200px;">
              <a href="javascript:void(0);" class="btn  l3hide l2show" data-animation="fadeIn" style="width:200px;        background: linear-gradient(to right, #000000 , rgb(2, 82, 119)) border-color: #4596F1;">
                <i class="fa fa-chevron-left fa-2x"></i>
                <span  style="font-size:20px;">&nbspPrevious&nbsp</span>
              </a>
            </div>
            <div class="input-group"  style="width:200px;">
              
              <a href="javascript:void(0);" class="btn   l1hide l2hide l3hide l4show l5show" data-animation="fadeIn" style="width:200px;        color: red" ng-disabled="tutionForm.$invalid" ng-click="analyzeTution()">
                <i class="fa fa-chevron-right fa-2x"></i>
                <span  style="font-size:20px;">&nbspAnalyzet&nbsp</span>
              </a>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div>
    
    
    <!--div class="col-sm-2" style="display: none;" id='q4'>
    <div class="c-widget c-widget-quick-info  highlight-color-orange" data-url="#" style="height:245px;">
      <div class="c-widget-icon">
        <span class="icon icon-bars "></span>
      </div>
      <div class="c-wdiget-content-block">
        <div class="c-widget-content-heading">
          4. Analyze<br><br>
        </div>
        <div class="c-widget-content-sub">
          <strong>It has to be worth it!</strong><br><br>
          We will analyze the total cost of your education <br>
          overtime and help you determine when you break even <br><br>
          <center>
          <button ng-disabled="tutionForm.$invalid" ng-click="analyzeTution()" class="btn btn-primary">Analyze</button>
          </center>
          <span class="glyphicon glyphicon-dollar"></span>
          Analyze
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div-->
<div class="col-lg-12" style="display: none; padding-top:50px; background-color:white;" id="q4" data-animation="fadeIn">
<div class="block" style="">
  
  <div class="main-text h2" style="padding-top:10px; padding-bottom:10px;">
    Student Loan and Breakeven Analysis
  </div>
  <div class="col-lg-12" style=" padding-left:10px;padding-top:10px; padding-bottom:30px; border:solid; border-left:transparent; border-right:tranparent; border-width:thin">
    <div class="row" style="overflow-x: auto;overflow-y: hidden; white-space: nowrap;" >
      <center>
      <a href="javascript:void(0);" class="btn  btn-danger active btn-size-small l4hide l5hide l6hide l7hide l8hide l1show" data-animation="fadeIn" style="background: linear-gradient(to right, #000000 , rgb(2, 82, 119)) border-color: #4596F1;">
        <span style="color:white">Start Over</span>
      </a>
      <button type="button" href="javascript:void(0);" ng-click="analyzeTution()" class="btn  btn-default active btn-size-small  l5show l6hide l7hide l8hide" data-animation="fadeIn"  >Loan</button>
      <button href="javascript:void(0);" class="btn  btn-default active btn-size-small l6show l5hide l7hide l8hide" data-animation="fadeIn" >Loan Details</button>
      <button ng-click="analyzeTution()" href="javascript:void(0);" class="btn  btn-default  active btn-size-small l7show l5hide l6hide l8hide" data-animation="fadeIn" >Breakeven Analysis</button>
      <button href="javascript:void(0);" class="btn  btn-default  active btn-size-small l8show l5hide l6hide l7hide" data-animation="fadeIn">Breakeven Table</button>
      <button href="javascript:void(0);" ng-click="analyzeTution()" class="btn  btn-default  active btn-size-small l4show l8show l5show l6show l7show" data-animation="fadeIn" >Show all</button>
      </center>
    </div>
  </div>
</div>
</div>
<div id="q5" class="row" style="display: none;">
<div class="row" >
  <div class="col-md-4">
    <div class="block">
      <div class="block-heading">
        <div class="main-text h2">
          Loan Summary
        </div>
        <div class="block-controls">
          <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
          <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
      </div>
      <div class="block-content-outer" style="height:333px;">
        <div class="block-content-inner">
          <div class="other-stats">
            <table class="table table-striped table-hover table-condensed" ng-if="analizedTutionRow2">
              <tr>
                <td class="other-stats-icon">
                  <span class="icon icon-dollar"></span>
                </td>
                <td class="other-stats-number" >
                  $ {{ analizedTutionRow2.loan_amount | number }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Loan amount
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon icon-chart-down"></span>
                </td>
                <td class="other-stats-number" >
                  {{ analizedTutionRow2.loan_rate * 100 }}%
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Rate
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon icon-dollar"></span>
                </td>
                <td class="other-stats-number" >
                  ${{ analizedTutionRow2.loan_payment | number }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Payment
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon icon-info"></span>
                </td>
                <td class="other-stats-number" >
                  ${{  analizedTutionRow2.total_interest_paid_on_loan | number}}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Total Interest Paid
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon-arrow-multi-line-up"></span>
                </td>
                <td class="other-stats-number" >
                  ${{  analizedTutionRow2.total_investment | number}}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Total Investment
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <!-- START Block: Overview Graph -->
    <div class="block overview-block">
      <div class="block-heading">
        <div class="main-text h2">
          Your Loan Amortization
        </div>
        <div class="block-controls">
          <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
          <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
      </div>
      <div class="block-content-outer" style="height:333px;">
        <div class="block-content-inner">
          <div class="graph-range">
            
          </div>
          <div id="demo2"></div>
        </div>
      </div>
    </div>
    <!-- END Block: Overview Graph -->
  </div>
</div>
</div>

<div id="q6" class="row" style="display: none;">
<div class="row" >
  <div class="" >
    <div class="col-lg-12">
      <div class="block">
        <div class="block-heading">
          <div class="main-text h2">
            Loan Amortization Details
          </div>
          <div class="block-controls">
            <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
            <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
          </div>
        </div>
        <div class="block-content-outer" >
          <div class="block-content-inner">
            <div class="" style="">
              <table class="footable table table-stripped toggle-arrow-tiny table-responsive" style="">
                <thead>
                  <tr>
                    <th>Years</th>
                    <th>Rate</th>
                    <th>Payment</th>
                    <th>Interest</th>
                    <th>Principal</th>
                    <th>Ending Balance</th>
                    <th>Total Anual Payment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="row in analizedTutionRow1" ng-click="open(row)" style="cursor: pointer">
                    <td>{{ row.loanyrs }}</td>
                    <td>{{ row.rate * 100 }} %</td>
                    <td>{{ row.payment  | currency:($):0}}</td>
                    <td>{{ row.interest_paid  | currency:($):0}}</td>
                    <td>{{ row.principal_paid  | currency:($):0}}</td>
                    <td>{{ row.ending_balance  | currency:($):0}}</td>
                    <td>{{ row.total_annual_payment  | currency:($):0}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="q7" class="row" style="display: none;">
<div class="row" >
  <div class="col-lg-8">
    <!-- START Block: Overview Graph -->
    <div class="block overview-block">
      <div class="block-heading">
        <div class="main-text h2">
          Your Loan Strategy
        </div>
        <div class="block-controls">
          <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
          <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
      </div>
      <div class="block-content-outer" style="height:350px;">
        <div class="block-content-inner">
          <div class="graph-range">
            
          </div>
          <div id="demo1"></div>
        </div>
      </div>
    </div>
    <!-- END Block: Overview Graph -->
  </div>
  <div class="col-lg-4">
    <div class="block">
      <div class="block-heading">
        <div class="main-text h2">
          Investment Breakeven
        </div>
        <div class="block-controls">
          <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
          <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
      </div>
      <div class="block-content-outer" style="height:350px;">
        <div class="block-content-inner">
          <div class="other-stats">
            <div class="main-text h2" ng-if="!analizedTutionRow4"><br><br>
              Our Analysis shows that you do not break even your education investment in a 15 year horizon.
            </div>
            <div class="main-text" ng-if="analizedTutionRow4">
              Our Analysis shows that assuming a 3% annual raise with your starting salary it will take you  <span style="color:red"><strong>{{ analizedTutionRow4.breakeven_year }}</strong></span> years to break even your education investment. You average salary should be  <span style="color:#09c"><strong>${{ analizedTutionRow4.st_salary_w_degree | number }}</strong></span> which represents the required incremental amount of <span style="color:#09c"><strong>${{ analizedTutionRow4.incremental_diff_dge_no_deg | number }}</strong></span> needed to make up for tuition loan costs, and the opportunity cost of not pursuiing education.
            </div>
            <br>
            <table class="table table-striped table-hover table-condensed" ng-if="analizedTutionRow4">
              <tr>
                <td class="other-stats-icon">
                  <span class="glyphicon glyphicon-time"></span>
                </td>
                <td class="other-stats-number" >
                  {{ analizedTutionRow4.breakeven_year }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Breakeven Year
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon icon-dollar"></span>
                </td>
                <td class="other-stats-number" >
                  ${{ analizedTutionRow4.st_salary_w_degree | number }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Target Salary With Degree
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon icon-dollar"></span>
                </td>
                <td class="other-stats-number" >
                  ${{ analizedTutionRow4.st_salary_no_degree | number }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Expected Salary Without Degree
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class=" icon-arrow-left-light"></span>
                </td>
                <td class="other-stats-number" >
                  ${{ analizedTutionRow4.incremental_diff_dge_no_deg | number }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Salary Spread this Year
                  </a>
                </td>
              </tr>
              <tr>
                <td class="other-stats-icon">
                  <span class="icon-arrow-left-light"></span>
                </td>
                <td class="other-stats-number" >
                  ${{ analizedTutionRow4.cumm | number }}
                </td>
                <td class="other-stats-text">
                  <a href="#">
                    Cummulative Spread
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="q8" class="row" style="display: none;">
<div class="row">
  <div class="col-lg-12" style="">
    <div class="block">
      <div class="block-heading">
        <div class="main-text h2">
          Breakeven Timeline
        </div>
        <div class="block-controls">
          <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
          <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
      </div>
      <div class="block-content-outer">
        <div class="block-content-inner">
          <div class="" style="">
            <table class="footable table table-stripped toggle-arrow-tiny table-responsive" style="">
              <thead>
                <tr>
                  <th>Period</th>
                  <th >Salary(degree)</th>
                  <th >Salary(no degree)</th>
                  <th >Inc. Diff</th>
                  <th>Monthly Impact</th>
                  <th>Cummulative</th>
                  <th>Worth it?</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="row in analizedTutionRow3" ng-click="open(row)" style="cursor: pointer">
                  <td>{{ row.period }}</td>
                  <td>{{ row.st_salary_w_degree  | currency:($):0 }}</td>
                  <td>{{ row.st_salary_no_degree  | currency:($):0}}</td>
                  <td>{{ row.incremental_diff_dge_no_deg  | currency:($):0}}</td>
                  <td>{{ row.monthly_incremental_diff_dge_no_deg  | currency:($):0}}</td>
                  <td>{{ row.cumm  | currency:($):0}}</td>
                  <td class="text-warning"><i class="glyphicon glyphicon-thumbs-down" data-ng-if="row.breakeven_year == 'No' " style="color:red;"></i><i class="glyphicon glyphicon-thumbs-up" data-ng-if="row.breakeven_year == 'Yes' " style="color:green;"></i>{{ row.breakeven_year }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row" >




</div>
<!-- <div class="ibox">
<div class="ibox">
  <center><h2>Welcome to <strong>Tuition analyzer</strong></h2></center>
  <div class="ibox-content">
    <div class="col-lg-4" style="background-color:white">
      <h4>Select a College or just enter your tuition amount</h4>
      <div class="input-group" style="width:200px;">
        <select data-placeholder="Choose a State" class="form-control m-b"  tabindex="2" ng-model="tution.state" ng-init="getStates()" ng-change="getUniversities()">
          <option value="">Select a State</option>
          <option ng-repeat="state in states" value="{{ state.name }}">{{ state.name }}</option>
        </select>
        <select data-placeholder="Choose a University" class="form-control m-b"  tabindex="2" ng-model="tution.tution" ng-change="updateLoan()">
          <option value="">Select a University</option>
          <option ng-repeat="uni in unis" value="{{ uni.tuition }}">{{ uni.institution_name }}</option>
        </select>
      </div>
      <div class="input-group"  style="width:200px;">
        <input type="text" ng-model="tution.loan" class="form-control"   placeholder="Expected Loan for Tution" >
        <br><br>
        
      </div>
    </div>
    <div class="col-lg-4">
      
      <h4>About your Loan</h4>
      <div class="input-group"  style="width:200px;">
        <input type="text" class="form-control" ng-model="tution.rate"  placeholder="Rate: .065 (Interest on loan)" >
        <input type="text" class="form-control" ng-model="tution.term"  placeholder="Term:  15 (Years)">
        <h4>About your career </h4>
        <input type="text" class="form-control" ng-model="tution.salaryWithDegree"   placeholder="No Degree Exp. Salary:  20000">
        <input type="text" class="form-control" ng-model="tution.salaryWithoutDegree"   placeholder="Degree Exp. Salary:  20000">
        
      </div>
    </div>
    <div class=" col-lg-4">
      <h4>Your Summary from row 2</h4>
                              <pre ng-if="analizedTutionRow2" ng-bind="analizedTutionRow2">
                                    "loan_amount": 48000,
                                                            "loan_term": 15,
                                                            "loan_rate": 0.06,
                                                            "loan_payment": 405.05,
                                                            "total_interest_paid_on_loan": 24914.00,
                                                            "total_investment": 72909.23
      </pre>
      <h4>Your Summary from row 4</h4>
                              <pre ng-if="analizedTutionRow4" ng-bind="analizedTutionRow4">
                                    "breakeven_year": 3,
                                    "st_salary_w_degree": 58350,
                                    "st_salary_no_degree": 21009,
                                    "cumm": 83706,
                                    "worthit": "Yes"
      </pre>
    </div>
    <div class=" col-lg-4">
      <br>
      <button ng-click="analyzeTution()" class="btn btn-primary">Analyze</button>
    </div>
  </div>
</div>
</div> -->
</div>
<script>
$(document).ready(function() {
//$('table').DataTable();
$('.l0hide').click( function(){
$('#q0').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q0').addClass('animated');
$('#q0').addClass(animation);
$('#q0').hide('slow');
return false;
});
$('.l0show').click( function(){
$('#q0').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q0').addClass('animated');
$('#q0').addClass(animation);
$('#q0').show('slow');
return false;
});
$('.l1hide').click( function(){
$('#q1').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q1').addClass('animated');
$('#q1').addClass(animation);
$('#q1').hide('slow');
return false;
});
$('.l1show').click( function(){
$('#q1').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q1').addClass('animated');
$('#q1').addClass(animation);
$('#q1').show('slow');
return false;
});
$('.l2hide').click( function(){
$('#q2').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q2').addClass('animated');
$('#q2').addClass(animation);
$('#q2').hide('slow');
return false;
});
$('.l2show').click( function(){
$('#q2').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q2').addClass('animated');
$('#q2').addClass(animation);
$('#q2').show('slow');
return false;
});
$('.l3hide').click( function(){
$('#q3').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q3').addClass('animated');
$('#q3').addClass(animation);
$('#q3').hide('slow');
return false;
});
$('.l3show').click( function(){
$('#q3').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q3').addClass('animated');
$('#q3').addClass(animation);
$('#q3').show('slow');
return false;
});
$('.l4hide').click( function(){
$('#q4').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q4').addClass('animated');
$('#q4').addClass(animation);
$('#q4').hide('slow');
return false;
});
$('.l4show').click( function(){
$('#q4').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q4').addClass('animated');
$('#q4').addClass(animation);
$('#q4').show('slow');
return false;
});
$('.l5hide').click( function(){
$('#q5').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q5').addClass('animated');
$('#q5').addClass(animation);
$('#q5').hide('slow');
return false;
});
$('.l5show').click( function(){
$('#q5').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q5').addClass('animated');
$('#q5').addClass(animation);
$('#q5').show('slow');
return false;
});
$('.l6hide').click( function(){
$('#q6').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q6').addClass('animated');
$('#q6').addClass(animation);
$('#q6').hide('slow');
return false;
});
$('.l6show').click( function(){
$('#q6').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q6').addClass('animated');
$('#q6').addClass(animation);
$('#q6').show('slow');
return false;
});
$('.l7hide').click( function(){
$('#q7').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q7').addClass('animated');
$('#q7').addClass(animation);
$('#q7').hide('slow');
return false;
});
$('.l7show').click( function(){
$('#q7').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q7').addClass('animated');
$('#q7').addClass(animation);
$('#q7').show('slow');
return false;
});
$('.l8hide').click( function(){
$('#q8').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q8').addClass('animated');
$('#q8').addClass(animation);
$('#q8').hide('slow');
return false;
});
$('.l8show').click( function(){
$('#q8').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q8').addClass('animated');
$('#q8').addClass(animation);
$('#q8').show('slow');
return false;
});
$('.l9hide').click( function(){
$('#q9').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q9').addClass('animated');
$('#q9').addClass(animation);
$('#q9').hide('slow');
return false;
});
$('.l9show').click( function(){
$('#q9').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q9').addClass('animated');
$('#q9').addClass(animation);
$('#q9').show('slow');
return false;
});
$('.l10hide').click( function(){
$('#q10').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q10').addClass('animated');
$('#q10').addClass(animation);
$('#q10').hide('slow');
return false;
});
$('.l10show').click( function(){
$('#q10').removeAttr('class').attr('class', '');
var animation = $(this).attr("data-animation");
$('#q10').addClass('animated');
$('#q10').addClass(animation);
$('#q10').show('slow');
return false;
});

/* Call Tooltips */
$("[data-toggle='tooltip']").tooltip();
/* Call Popovers */
$("[data-toggle='popover']").popover();
});