<body style="
   background: #1B88DE;
    background: -webkit-linear-gradient(to right, #000000 , rgb(2, 82, 119));
    background: -o-linear-gradient(to right, #000000 , rgb(2, 82, 119));
    background: -moz-linear-gradient(to right, #000000 , rgb(2, 82, 119));
    background: linear-gradient(to right, #000000 , rgb(2, 82, 119))" > 
    
    <!-- PRELOADER -->
    <div id="preloader">
        
<div  style="position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index:9999;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: #fff;">
<div class="cssload-vert"  style="margin-top:30%">
    <div class="cssload-container" role="progressbar">
        <ul class="cssload-loader">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="cssload-loader">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="cssload-loader">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <br>
    <center><span  style="font-size:40px; color:white; font-family: sans-serif">Steppingblocks</span></center><br><br>
    <center><span  style="font-size:15px; color:#B2B2B2; font-family: sans-serif">The Ultimate Career Analytical Engine</span></center>
    <br>
    <div class="cssload-loaderi">We are building your Blocks</div>

    </div>
    </div>




    </div>

    <!-- MAIN NAV -->
    <a id="main-nav" href="#sidr"><span class="flaticon-menu9"></span></a>
    <div id="sidr" class="sidr" style="background-color:black">
        
        <!-- MAIN NAV LOGO -->
        <a href="#" id="menu-logo"><img src="lib/landing/img/nodess.png" alt="" height="44"></a>
        
        <!-- MAIN NAV LINKS -->
        <ul>
            <li><a href="#Home">Home</a>
                    

            <li ng-if="!authentication.user"><a  href="authentication/signin">Login</a></li>
            <li ng-if="!authentication.user"><a  href="authentication/signup">Sign Up</a></li>

            <li ng-if="authentication.user"><a  href="dashboard">Dashboard</a></li>
            <li ng-if="authentication.user"><a  href="logout">Log out</a></li>


            <li><a href="#Features" ><span class="icons flaticon-drawer1"></span>Explore</a>
            </li>
            <li><a href="#About" ><span class="icons flaticon-cursor7"></span>360&deg</a>
            </li>
            <li><a href="#Video" ><span class="icons flaticon-key9"></span>Video</a>
            </li>
            <li><a href="#Clients" ><span class="icons flaticon-camera19"></span>Features</a>
            </li>
            <li><a href="#Screenshots" ><span class="icons flaticon-tag10"></span>Analysis</a>
            </li>
            <li><a href="#Pricing" ><span class="icons flaticon-download11"></span>Sign Up</a>
            </li>
            <li><a href="#Download" ><span class="icons flaticon-small72"></span>Contact</a>
            </li>
        </ul>
        <!-- END MAIN NAV LINKS -->
    </div>
    <!-- END MAIN NAV -->
    
    <!-- PAGE LOGO -->
    <div class="wrap" >
        <div id="logo" >
            <a href="#"><img src="lib/landing/img/sblogotest3.png" alt="" height="44"> </a>    </div>
    <!-- END PAGE LOGO -->

    <!-- LANDING PAGE CONTENT -->
    <div id="fullpage">

    
        
        <!-- RIGHT HAND & PHONE MOCK-UP IMAGES -->
        <div class="wrap">
           
            <div id="hand"></div>
        </div>
        <!-- END RIGHT HAND & PHONE MOCK-UP -->
        

        <!-- SECTION HOME -->
        <div class="section " id="section0">
        <!-- SECTION HOME CONTENT
                    <div class="wrap">
                <div class="box">
                    
                    

                     <center><h2 style="">REVERSE ENGINEER
                     YOUR <span style="color:#1D9CCC;"><STRONG> CAREER </STRONG></span> STRATEGY</h2><br>

                      <p h4>Steppingblocks helps <span style="color:#FF1C20"><strong>parents</strong></span> and <span style="color:#FF1C20"><strong>students</strong></span> simplify the overwhelming process of education and career planning<br><br>
                    <center><br> A new intelligent and innovative approach to discover new opportunities and meet success</p></center>
                    

                    {% if !user %}
                    <a href="signup" class="simple-button"><center><span class="icon flaticon-profile"></span>Sign Up for Beta</center></a>
                     {% else %}
                     <a href="dashboard" class="simple-button"><center><span class="icon flaticon-desktop1"></span>Go to your Dashboard</center></a>
                     {% endif %}


                </div>
                    <!-- END SECTION HOME CONTENT -->
                    <div class="wrap">
                    <div class="box" style="padding-top:100px">
                    
                    

                     
                      <h1>Steppingblocks helps <span style="color:#1D9CCC;"><strong>parents</strong></span> and <span style="color:#1D9CCC;"><strong>students</strong></span></h1>
                      <h3>  simplify the <span style="color:#FF1C20"><strong>overwhelming</strong></span> process of education and career planning<br></h3>
                      <p>
                    </p><br><br><br><br><br>
                  
        <div id="social-icons" style="position:relative">
            <ul>  
                <center>  
                        <li ng-if="!authentication.user">
                            <a href="signup">
                                <i class="flaticon-profile h5" style="width:100%; padding:10px; font-size:20px;">&nbsp&nbspRequest Pre-release Access&nbsp&nbsp</i>
                            </a>
                        </li>
                        
                        <li ng-if="authentication.user">
                            <a href="dashboard">
                                <i class="flaticon-desktop1h5" style="width:100%; padding:10px; font-size:20px;">&nbsp&nbspGo to Dashboard&nbsp&nbsp</i>
                            </a>
                        </li>

                 </center>
 

                                   
            </ul>
    </div>
</div>
                   
<div class="screenshots-wrapper" id="">
    <!--div class="slide" id="slide0" data-anchor="slide1"> 
        <div id="preloaderm">
            <div class="cssload-vert" >
                <div class="cssload-container" role="progressbar">
                    <ul class="cssload-loader">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="cssload-loader">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="cssload-loader">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <br>
                <center><span  style="font-size:15px; color:white; font-family: sans-serif">Steppingblocks</span></center><br><br>
                <center><span  style="font-size:10px; color:#B2B2B2; font-family: sans-serif">The Ultimate Career Analytical Engine</span></center>
                <br>
                <div class="cssload-loaderi">We are building your Blocks</div>
            </div>
        </div> 
    </div-->
    <div class="slide" id="slide1" data-anchor="slide1"> <img src="lib/landing/img/sbxplr.png" alt="screenshot1"> </div>
    <div class="slide" id="slide2" data-anchor="slide2"> <img src="lib/landing/img/sbxplr2.png" alt="screenshot2"> </div>
    <div class="slide" id="slide3" data-anchor="slide3"> <img src="lib/landing/img/sbxplr3.png" alt="screenshot3"> </div>
    <div class="slide" id="slide4" data-anchor="slide4"> <img src="lib/landing/img/sbxplr4.png" alt="screenshot4"> </div>
    <div class="slide" id="slide5" data-anchor="slide5"> <img src="lib/landing/img/sbxplr5.png" alt="screenshot5"> </div>
    <div class="slide" id="slide6" data-anchor="slide6"> <img src="lib/landing/img/sbxplr6.png" alt="screenshot6"> </div>
    <div class="slide" id="slide7" data-anchor="slide7"> <img src="lib/landing/img/sbxplr9.png" alt="screenshot7"> </div>
    <div class="slide" id="slide8" data-anchor="slide8"> <img src="lib/landing/img/sbxplr7.png" alt="screenshot8"> </div>
    <div class="slide" id="slide9" data-anchor="slide9"> <img src="lib/landing/img/sbxplr8.png" alt="screenshot9"> </div>
                    <!-- END SECTION SCREENSHOTS IMAGES -->
</div>
</div>
</div>


        <!-- END SECTION HOME -->

        <!-- SECTION FEATURES -->
        <div class="section " id="section1">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    <!-- SECTION FEATURES CONTENT -->
                    <h2><strong><span style="color:#1D9CCC;">Explore</span></strong> Opportunities From Any Point in your Career <br><span style="font-size:25px;">With Steppingblocks 360&deg</span></h2>
                    <p><span style="font-size:25px;">We provide the most realistic picture of career path outcomes</span></p>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-zoom16"></span> Start from <span style="font-size:25px;"><strong>"0"</strong></span><span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-group2"></span>Maybe you have no idea what you want to do. If you are a parent it can be difficult to advise children on careers outside of your own. Steppingblocks allows you to start from the basic options and navigate you to the potential outcome of those options </span></span></span></a> </li>
                    </ul>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-zoom16"></span> Start from the Major you have already chosen<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-group2"></span>See what professionals with your level of education and your univesity did with their career and discover new alternatives</span></span></span></a> </li>
                    </ul>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-zoom16"></span> Start Exploring Careers<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-group2"></span>You have chosen an education, but have no idea on what jobs go after. We can help you find realistic expectations and set a career target</span></span></span></a> </li>
                    </ul>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-zoom16"></span> You already know what you want to be<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-group2"></span>There are many ways to get to the top. If you already know what you want to be we can help you get there faster by analyzing the paths of those who have already done it.</span></span></span></a> </li>
                    </ul>
                    <!--<ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-group2"></span> Parents<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-group2"></span>Advice your children intelligently about careers and fields of study you do not know about</span></span></span></a> </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-profile"></span> High School<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-profile"></span>Get sharp and intelligent at an early stage to maximize you career opportunities early</span></span></span></a> </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-book23"></span> College<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-book23"></span>Get an edge as to where your degree can take you and build realistic expectations</span></span></span></a> </li>
                    </ul>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-little13"></span> Professionals<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-little13"></span>Learn how to grow in your career by leveraging the combined experiences of others</span></span></span></a> </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-pencil10"></span> Education<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-pencil10"></span>Explore visually where different education paths can take you and decide your career intelligently</span></span></span></a> </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-lightbulb"></span> Career<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-lightbulb"></span>There are many ways to get to the top. Find out the most efficient way to get to where you want to be</span></span></span></a> </li>
                    </ul>
                    <!-- END SECTION FEATURES CONTENT -->
                </div>
                <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div class="slide" id="slide2" data-anchor="slide2"> <img src="lib/landing/img/sbxplr2.png" alt="screenshot2"> </div>
                    <div class="slide" id="slide3" data-anchor="slide3"> <img src="lib/landing/img/sbxplr3.png" alt="screenshot3"> </div>
                    <div class="slide" id="slide4" data-anchor="slide4"> <img src="lib/landing/img/sbxplr4.png" alt="screenshot4"> </div>
                    <div class="slide" id="slide5" data-anchor="slide5"> <img src="lib/landing/img/sbxplr5.png" alt="screenshot5"> </div>
                    <div class="slide" id="slide6" data-anchor="slide6"> <img src="lib/landing/img/sbxplr6.png" alt="screenshot6"> </div>
                    <div class="slide" id="slide7" data-anchor="slide7"> <img src="lib/landing/img/sbxplr9.png" alt="screenshot7"> </div>
                    <div class="slide" id="slide8" data-anchor="slide8"> <img src="lib/landing/img/sbxplr7.png" alt="screenshot8"> </div>
                    <div class="slide" id="slide9" data-anchor="slide9"> <img src="lib/landing/img/sbxplr8.png" alt="screenshot9"> </div>
                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>
            </div>
        </div>
        <!-- END SECTION FEATURES -->

        <!-- SECTION ABOUT -->
        <div class="section" id="section2">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    <!-- SECTION ABOUT CONTENT -->
                    <h2>How Steppingblocks <strong>360&deg</strong> works </h2>
                    <div class="tabs tabs-style-linemove">
                        <!-- TABS LINKS -->
                        <nav>
                            <ul>
                                <li><a href="#section-linemove-1"><span class="icon flaticon-chevron9">1</span><span> Explore</span></a>
                                </li>
                                <li><a href="#section-linemove-2"><span class="icon flaticon-chevron9">2</span><span> Decide</span></a>
                                </li>
                                <li><a href="#section-linemove-3"><span class="icon flaticon-chevron9">3</span><span> Engage</span></a>
                                </li>
                                <li><a href="#section-linemove-4"><span class="icon flaticon-chevron9">4</span><span> Get to Work</span></a>
                                </li>
                            </ul>
                        </nav>
                        <!-- END TABS LINKS -->

                        <!-- TABS CONTENT -->
                        <div class="content-wrap">
                           
                            <!-- TAB 1 -->
                            <section id="section-linemove-1">
                                <h4><span class="icon flaticon-arrow75"></span> Start Somewhere!</h4>
                                <p>Whether starting with education or career exploration, we help you navigate through the options and where those options can take you. Starting with what you study, in what university and level of education to the job titles, companies and salaries you can expect.</p>
                                 
                            </section>

                             <!-- TAB 2 -->
                            <section id="section-linemove-2">
                            <h4><span class="icon flaticon-lightbulb"></span> Set a Target!</h4>
                                <h4>Once you decided what you want to study we connect you with the resources you need to meet your goals. These resources include mentors, courses, scholarships, tutors, jobs a free resources online targeted towards meeting your goals</h4>
                                <!--<ul class="features">
                        <li><a><span class="icon flaticon-group2"></span> Parents<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-group2"></span></span></span></span></a> </li>
                        <li><a><span class="icon flaticon-profile"></span> High School Students<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-profile"></span></span></span></span></a> </li>
                        <li><a><span class="icon flaticon-book23"></span> College Students<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-book23"></span></span></span></span></a> </li>
                        <li><a><span class="icon flaticon-book23"></span> Professionals<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-book23"></span></span></span></span></a> </li>
                    </ul>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-little13"></span> Professionals<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-little13"></span>Learn how to grow in your career by leveraging the combined experiences of others</span></span></span></a> </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-pencil10"></span> Education<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-pencil10"></span>Explore visually where different education paths can take you and decide your career intelligently</span></span></span></a> </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-lightbulb"></span> Career<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-lightbulb"></span>There are many ways to get to the top. Find out the most efficient way to get to where you want to be</span></span></span></a> </li>
                    </ul>-->
                            </section>

                            <!-- TAB 3 -->
                            <section id="section-linemove-3">
                                <h4><span class="icon flaticon-wheel1"></span> Let's Begin!</h4>
                                <p>Next you start using your resources and remain engaged. Use your mentors and networks to deepen yourself into what is required to be successful in your target field. We will continuously provide you with fresh resources to help you on your journey</p>
                                <ul class="features">
                                    <li><a class="tooltip" href="#"><span class="icon flaticon-desktop1"></span> Networking</a> </li>
                                    <li><a class="tooltip" href="#"><span class="icon flaticon-small62"></span> Internships</a> </li>
                                </ul>
                                <ul class="features">
                                    <li><a class="tooltip" href="#"><span class="icon flaticon-outlined3"></span> Exploration</a> </li>
                                    <li><a class="tooltip" href="#"><span class="icon flaticon-lightbulb"></span> Learning</a> </li>
                                </ul>
                            </section>
                            
                            <!-- TAB 4 -->
                            <section id="section-linemove-4">
                            <h4><span class="icon flaticon-group2"></span> Meet your goals!</h4>
                                <p>
                                    <h4>You have done everything you can. Now let's get the career of you dreams!</h4>
                            </section>
                        </div>
                         <!-- END TABS CONTENT -->                            

                    <!-- END SECTION ABOUT -->
                    </div>
                </div>
                <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div class="slide" id="slide2" data-anchor="slide2"> <img src="lib/landing/img/sb360.png" alt="screenshot2"> </div>
                    <div class="slide" id="slide3" data-anchor="slide3"> <img src="lib/landing/img/sbxplr2.png" alt="screenshot3"> </div>
                    <div class="slide" id="slide4" data-anchor="slide4"> <img src="lib/landing/img/sbxplr3.png" alt="screenshot4"> </div>
                    <div class="slide" id="slide5" data-anchor="slide5"> <img src="lib/landing/img/sbxplr4.png" alt="screenshot5"> </div>
                    <div class="slide" id="slide6" data-anchor="slide6"> <img src="lib/landing/img/sbxplr5.png" alt="screenshot6"> </div>
                    <div class="slide" id="slide7" data-anchor="slide7"> <img src="lib/landing/img/sbxplr6.png" alt="screenshot7"> </div>
                    <div class="slide" id="slide8" data-anchor="slide8"> <img src="lib/landing/img/sbxplr9.png" alt="screenshot8"> </div>
                    <div class="slide" id="slide9" data-anchor="slide9"> <img src="lib/landing/img/sbxplr7.png" alt="screenshot9"> </div>
                    <div class="slide" id="slide3" data-anchor="slide3"> <img src="lib/landing/img/sbxplr8.png" alt="screenshot3"> </div>
                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>  
            </div>
        </div>
        <!-- END SECTION ABOUT -->


        <!-- SECTION VIDEO -->
        <div class="section" id="section3">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    <!-- SECTION VIDEO CONTENT -->
                    <h2> <strong>Steppingblocks</strong> TV</h2>
                    <h4> Check out our cool video. We are building a library of media where thousands of successful professionals share their experience and how they achieved their goals.</h4>
                    <div class="video-presentation">
                        <iframe src="https://www.youtube.com/embed/WQ5nwHw6Q8A" width="500" height="281" allowfullscreen></iframe>
                    </div>
                    <!-- END SECTION VIDEO CONTENT-->
                </div>
                <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div class="slide" id="slide1" data-anchor="slide1"> <img src="lib/landing/img/sbxplrvid1.png" alt="screenshot1"> </div>
                    <div class="slide" id="slide2" data-anchor="slide2"> <img src="lib/landing/img/sbxplrvid2.png" alt="screenshot2"> </div>
                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>
            </div>
        </div>
        <!-- END SECTION VIDEO -->

        
     


        <!-- SECTION SCREENSHOTS -->
        <div class="section" id="section4">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    
                        <!-- SECTION SCREENSHOTS CONTENT -->
                        <h2>Features</h2>
                        <h4><ul class="">
                            <li><a class="tooltip"><span class="icon flaticon-arrow76" style="color: #1D9CD2;"></span> Steppingblocks 360&deg Explorer</a> </li>
                            <li><a class="tooltip"><span class="icon flaticon-arrow76" style="color: #1D9CD2;"></span> Full Tuition Break Even Anlayzer</a> </li>
                            <li><a class="tooltip"><span class="icon flaticon-arrow96" style="color: #1D9CD2;"></span> Parents Track School Grades and College Reqs</a> </li>
                            <li><a class="tooltip"><span class="icon flaticon-laptop3" style="color: #1D9CD2;"></span> Easy Scholarship finder Search</a> </li>
                        </ul></h4>
                         <!-- END SECTION SCREENSHOTS CONTENT -->
                    
                   
                </div>
                <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div class="slide" id="slide1" data-anchor="slide1"> <img src="lib/landing/img/sbkids.png" alt="screenshot1"> </div>
                    <div class="slide" id="slide2" data-anchor="slide2"> <img src="lib/landing/img/sbschol.png" alt="screenshot2"> </div>
                    <div class="slide" id="slide3" data-anchor="slide3"> <img src="lib/landing/img/sbexploretuit.png" alt="screenshot3"> </div>
                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>
            </div>
        </div>
        <!-- END SECTION SCREENSHOTS -->


        <!-- SECTION PRICING -->
        <div class="section" id="section5">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    <!-- SECTION PRICING CONTENT -->
                    <h2>Analytics on <strong>Millions</strong> of careers paths</h2>
                    

                    <!-- PRICING TABLE 3 -->
                    <div class="price-table normal">
                        <h3 class="package">Simplifying complexity</h3>
                        <div id="demo" style="opacity:.7"></div>                      
                        <div class="pricing-button"><a href="#">To give you comprehensive insights on your career options</a>
                        </div>
                    </div>
                    <!-- END SECTION PRICING -->
                </div>
                <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div class="slide" id="slide7" data-anchor="slide7"> <img src="lib/landing/img/sbxplr6.png" alt="screenshot7"> </div>
                    <div class="slide" id="slide8" data-anchor="slide8"> <img src="lib/landing/img/sbxplr9.png" alt="screenshot8"> </div>
                    <div class="slide" id="slide9" data-anchor="slide9"> <img src="lib/landing/img/sbxplr7.png" alt="screenshot9"> </div>
                    <div class="slide" id="slide3" data-anchor="slide3"> <img src="lib/landing/img/sbxplr8.png" alt="screenshot3"> </div>
                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>
            </div>
        </div>
        <!-- END SECTION PRICING -->


        <!-- SECTION DOWNLOAD -->
        <div class="section" id="section6" data-anchor="Download">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    <!-- SECTION DOWNLOAD CONTENT-->
                    <h2><strong>Sign</strong>Up!</h2>
                    <p>Become a mentor! and help others by sharing your experiences.
                    <br> Request access to our beta program.</p> 




                     
                     <a ng-if="!authentication.user" href="authentication/signin" class="simple-button appstore-button"><span class="icon flaticon-profile"></span>Login</a>
                    <!-- DOWNLOAD PLAYSTORE-->
                    <a ng-if="!authentication.user" href="authentication/signup" class="simple-button playstore-button"><span class="icon flaticon-profile"></span>Sign Up</a>
               
                    <a href="/dashboard" ng-if="authentication.user"><span   class="icon flaticon-desktop1"></span>Go to your Dashboard</a>
                

                    
                    <!-- DOWNLOAD APPSTORE-->
                    
                   
                    <!-- END SECTION DOWNLOAD -->
                </div>
                <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div href="authentication/signin" class="slide" id="slide1" data-anchor="slide1"> <img href="authentication/signin" src="lib/landing/img/login.png" alt="screenshot1"> </div>
  
                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>
            </div>
        </div>
        <!-- END SECTION DOWNLOAD -->


        <!-- SECTION CONTACT -->
        <div class="section" id="section7">
            <div class="wrap">
                <div class="box" style="padding-top:100px">
                    <!-- SECTION CONTACT CONTENT-->
                    <h2><strong>Get</strong> in touch</h2>
                    <ul class="features">
                        <li><a class="tooltip" href="#"><span class="icon flaticon-telephone1"></span> Contact Us<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-telephone1"></span>Support: +01 <br>Marketing: <br>Manager:  </span></span></span></a> </li>
                        <li><span class="tooltip"><span class="icon flaticon-map5"></span>See our location<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-map5"></span>Atlanta Tech Village Suite 240, Atlanta, GA 30050
                            <br><a href="https://www.google.com/maps/dir/33.848655,-84.373367/" target="_blank">View Map</a>
                            </span>
                            </span>
                            </span>
                        </span>
                        </li>
                    </ul>
                    <ul class="features">
                        <li><span class="tooltip"><span class="icon flaticon-cursor7"></span>Official Website <span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-cursor7"></span>
                            <br> <a href="http://www.steppingblocks.com" target="_blank">www.steppingblocks.com</a>
                            </span>
                            </span>
                            </span>
                            </span>
                        </li>
                        <li><a class="tooltip" href="#"><span class="icon flaticon-mail9"></span> Send Email<span class="tooltip-content"><span class="tooltip-text"><span class="tooltip-inner"><span class="icon flaticon-mail9"></span> team@steppingblocks.com<br>support@steppingblocks.com</span></span></span></a> </li>
                    </ul>

                    <!-- SECTION CONTACT FORM-->
                    <form role="form" action="contact" method="post" id="contact-form">
                        <div id="success" class="wpcf7-response-output wpcf7-display-none wpcf7-mail-sent-ok"></div>
                        <div id="error" class="wpcf7-response-output wpcf7-display-none wpcf7-validation-errors" role="alert"></div>
                        <input type="text" placeholder="Name" name="Name" id="Name" required>
                        <input type="email" placeholder="Email" name="Email" id="Email" required>
                        <input type="text" placeholder="Phone" name="Phone" id="Phone">
                        <input type="text" placeholder="Subject" name="Subject" id="Subject">
                        <input type="hidden" name="_csrf" id="_csrf">
                        <textarea placeholder="Message" name="Message" id="Message" required></textarea>
                        <input type="submit" id="submit" value="Send"> 
                        
                    </form>
                <!-- END SECTION CONTACT -->
                </div>
            </div>
            <div class="screenshots-wrapper">

                    <!-- SECTION SCREENSHOTS IMAGES -->
                    <div class="slide" id="slide1" data-anchor="slide1"> <img src="lib/landing/img/contactus2.png" alt="screenshot1"> </div>

                    <!-- END SECTION SCREENSHOTS IMAGES -->
                </div>
        </div>
    </div>
    <!-- SECTION CONTACT -->

    


    <!-- SOCIAL ICONS -->
    <div class="wrap">
        <div id="social-icons">
            <ul>

                                <li>
                                    <a href="https://twitter.com/hashtag/steppingblocks">
                                        <i class="flaticon-social19"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/steppingblocks">
                                        <i class="flaticon-facebook6"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.linkedin.com/company/steppingblocks">
                                        <i class="flaticon-social22"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="login_vipuser3654.html">
                                        <i class="flaticon-outlined4"></i>
                                    </a>
                                </li>   
                                <li>
                                    <a  target="_blank" href="https://www.smartuplegal.com/patents/patent-seal/verify/106ccd701686858b9f0c7b8c2929f106">
                                    <img alt="Virtual Patent Mark Seal by Smartup" height="25" src="https://dfgqztphnej1z.cloudfront.net/Pending_BlueBlue_S.png"></a>
                                </a>
                                </li>
                              <li>
                                    <a><span
                                    class="fb-like"
                                    data-share="true"
                               
                                    </span>
                                </a>
                    </a>
                                </li>       
            </ul>
             
        </div>
    </div>
    <!-- END SOCIAL ICONS -->

    <style>
    .spiner-example {
    position: absolute;
    left: 20%;
    z-index: 9;
    top: 15%;
    }
/*    .wp-caption {
width: 93% !important;
border: 1px solid #ddd;
background: #f2f2f2;
padding: 3%;
margin-bottom: 14px;
}
em {
font-style: italic;
color: #666;
}*/

div.wpcf7-validation-errors {
border: 2px solid #f7e700;
text-align: center;
}
div.wpcf7-response-output {
margin: 2em 0.5em 1em;
padding: 0.2em 1em;
}
div.wpcf7-mail-sent-ok {
border: 2px solid #398f14;
text-align: center;
}

#slideshow { 
}

#slideshow > div { 
}
    </style>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1406480963008045',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // $(document).ready(function (){
  //   $('head > link').each(function (value) {
  //       if($(this) && $(this)[0]) {
  //           if($(this)[0].media !== 'all') {
  //               var style = $(this)[0];
  //               $(style).attr('media', 'all');
  //           }
  //       }
  //   });
  // });
</script>

<script type="text/javascript">
    
var currentIndex = 0,
  items = $('.container div'),
  itemAmt = items.length;

function cycleItems() {
  var item = $('.container div').eq(currentIndex);
  items.hide();
  item.css('display','inline-block');
}

var autoSlide = setInterval(function() {
  currentIndex += 1;
  if (currentIndex > itemAmt - 1) {
    currentIndex = 0;
  }
  cycleItems();
}, 3000);

$('.next').click(function() {
  clearInterval(autoSlide);
  currentIndex += 1;
  if (currentIndex > itemAmt - 1) {
    currentIndex = 0;
  }
  cycleItems();
});

$('.prev').click(function() {
  clearInterval(autoSlide);
  currentIndex -= 1;
  if (currentIndex < 0) {
    currentIndex = itemAmt - 1;
  }
  cycleItems();
});

</script>