<body style="background-color:webkit-radial-gradient(center, ellipse cover, #1f3649 0%, #17253d 44%, #040d11 100%)" >

<div class="row">
  
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<br>
<br>
<br>
<div class="ibox">
<div class="ibox-title" style="
    background-color: black;">
<center><img class="img-responsive" alt="image" src="../modules/users/client/img/sblogotest3.png" style="height:30px;"></center>

</div>
  <div class="ibox-content ">
  <div class="col-lg-12">
    <center><h2> Welcome! Tell us about you so we can help you on the path to success!</h2>
    <h5>Feeling Lazy? Feel free to skip through and tell us about you later.</h5></center>
    </div>



          <form id="form" action="info" method="post" class="wizard-big" style="background-color:white;">
           <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
           <input type="hidden" id="userType" name="userType" value="">
           <input type="hidden" id="canceled" name="canceled" value="false">
           <input type="hidden" id="hiddenMentor" name="hiddenMentor" value="">
                <div class="progress" >
                   <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                       <span class="sr-only"></span>
               </div>
           </div>

                <h1>You are </h1>
                <fieldset style="background-color:white;">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="widget text-center" data-type="parent" style="background-color: white; border: solid; color: black;" onclick="return changeProgress(2, 'next')">
                                <div class="m-b-md">
                                    <i class="fa fa-group fa-2x"><h2 class="m-xs">Parent</h2></i>
                                    
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6">
                            <div class="widget text-center" data-type="hs_student" style="background-color: white; border: solid; color: black;"  onclick="return changeProgress(2, 'next')">
                                <div class="m-b-md">
                                    <i class="fa fa-graduation-cap fa-2x"><h2 class="m-xs">High School Student</h1></i>
                                    
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6">
                            <div class="widget text-center" data-type="coll_student" style="background-color: white; border: solid; color: black;"  onclick="return changeProgress(2, 'next')">
                                <div class="m-b-md">
                                    <i class="fa fa-institution fa-2x"><h2 class="m-xs">College Student</h1></i>
                                    
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6">
                            <div class="widget text-center" data-type="professional" style="background-color: white; border: solid; color: black;"  onclick="return changeProgress(2, 'next')">
                                <div class="m-b-md">
                                    <i class="fa fa-suitcase fa-2x"><h2 class="m-xs">Professional</h2></i>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
                <h1>Interest</h1>

                <fieldset style="background-color:white;">
                    <div class="row step2 parent" style="padding-left:30px; padding-right:30px;">
                    <h3><center > About your children </center></h3> 
                        <div class="col-lg-12">
                            <div class="form-group" >
                                <label style="float:left;" class="tooltip" title="US State where your children go to School. We have loaded thousands of US high schools.">In what state do they go to school <span class="fa fa-question-circle"></span></label>
                                 <select class="form-control m-b" name="hsHighSchoolLoc" id="hsHighSchoolLoc" onchange="hsHighSchoolLocChanged(this.value)">
                                    <option></option>
                                    {% for state in states2 %}
                                        <option value="{{ state.abbreviation }}">{{ state.name }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                            <div class="form-group" >
                                <label class="tooltip" title="You can set up up to 5 children. We want understand each one of your children is unique and may have ver different goals">How many children do you want to set up with Steppinglbocks?<span class="fa fa-question-circle"></span></label>
                                <select name="totalKids" onchange="changeKids(this.value)"  class="form-control m-b">
                                    <option value="0">Select number of children</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                        </div>
                            <!-- kids details -->
                            <div id="1" class="div_kd">
                                <div class="form-group " >
                                    <label >Enter Details of First Child</label>
                                    <input type="text" name="kidName1" class="form-control m-b" id="kidName1" placeholder="Enter name of the child">
                                    <input type="number" name="kidAge1" class="form-control m-b" placeholder="Select age of the child">
                                    <input type="text" id="kidSchool1" name="kidSchool1" class="form-control m-b" placeholder="Enter name of the school">
                                <div class="col-lg-3">
                                     <input type="number" name="kidGPA1" class="form-control m-b only-number set-gpak1 tooltip" title="A grade point average is a number representing the average value of the accumulated final grades earned in courses over time. More commonly called a GPA, a student's grade point average is calculated by adding up all accumulated final grades and dividing that figure by the number of grades awarded. This is extermely critical for qualifying to great school and universities." placeholder="Enter the GPA (1-4)" min="1" max="4" >
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidSAT1" class="form-control m-b only-number set-satk1 tooltip" title="The SAT is a globally recognized college admission test that lets you show colleges what you know and how well you can apply that knowledge. It tests your knowledge of reading, writing and math — subjects that are taught every day in high school classrooms. The national average for the current SAT is 1500. If you are close to these averages you will likely be accepted into a considerable number of colleges and universities (as long as you have decent grades), but may not be considered at more selective schools"placeholder="Enter the SAT (500-2400)" min="500" max="2400" >
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidACT1" class="form-control m-b only-number set-actk1 tooltip" title="The ACT consists of four multiple-choice tests: English, mathematics, reading, and science. The ACT with writing includes the four multiple-choice tests and a writing test. The required portion of the ACT is divided into four multiple choice subject tests: English, mathematics, reading, and science reasoning. Subject test scores range from 1 to 36; all scores are integers. " placeholder="Enter the ACT (1-36)" min="1" max="36">
                                </div>
                                <div class="col-lg-3">
                                     <input type="text" id="datetimepickerKid1" name="kidScoreDate1" class="form-control m-b" placeholder="Scores Date" >
                                </div>
                                    <select class="form-control m-b grade" name="kidClassGrade1" id="kidClassGrade1">
                                        <option>Select your Children's current Grade</option>
                                        <option>Freshmen</option>
                                        <option>Sophomore</option>
                                        <option>Junior</option>
                                        <option>Senior</option>
                                    </select>
                                    
                                </div> 
                                <div class="form-group">
                                    <label>What is <span id="kid1name">your children</span>'s education area of interest?</label>
                                    <select class="form-control m-b tooltip" title="Does your child already have a passion or an idea of that they would like to study? We have classified some of the most popular fields of study to help you figure out some options... Don't worry if you do not know yet! But it is a good idea to learn what the options are. The optionns below are classified in three levels" name="kidStudy1" onchange="kidStudy1Changed(this.value)" id="kidStudy1">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>Any particular areas whithin this field?</label>
                                    <select class="form-control m-b" onchange="particularArea1KidOneChanged(this.value)" name="particularArea1KidOne" id="particularArea1KidOne" disabled>
                                        <option></option>
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>...And any areas whithin this subfield</label>
                                    <select class="form-control m-b" name="particularArea2KidOne" id="particularArea2KidOne" disabled>
                                        <option></option>
                                </select>  
                                    <input type="hidden" name="kid1Study" id="kid1Study">
                            </div> 
                                <div class="form-group">
                                    <label class="tooltip" title="We will provide you with targeted content based on your child's goals. If your child already has an idea of what they would like to do we can start providing with valuable resources for their specific field of interest">Has <span id="kid1name">your child</span> shown interest in any career in particular?<span class="fa fa-question-circle"></span></label>
                                    <input type="text" id="kid1Career" name="kid1Career" class="form-control open-search m-b" placeholder="Search your desired title">
                                    <a href="javascript:void(0)" style="margin-right: 5px;" class="pull-right" id="hideKidOne"><i class="fa fa-chevron-up">Hide</i></a>
                            </div>                                     
                        </div>
                            <div id="2" class="div_kd">
                                <div class="form-group " >
                                    <label>Enter Details of Second Child</label>
                                    <input type="text" name="kidName2" class="form-control m-b" id="kidName2" placeholder="Enter name of the child">
                                    <input type="number" name="kidAge2" class="form-control m-b" placeholder="Select age of the child">
                                    <input type="text" id="kidSchool2" name="kidSchool2" class="form-control m-b" placeholder="Enter name of the school">
                                <div class="col-lg-3">
                                     <input type="number" name="kidGPA2" class="form-control m-b only-number set-gpak2" placeholder="Enter the GPA (1-4)" min="1" max="4">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidSAT2" class="form-control m-b only-number set-satk2" placeholder="Enter the SAT (500-2400)" min="500" max="2400">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidACT2" class="form-control m-b only-number set-actk2" placeholder="Enter the ACT (1-36)" min="1" max="36">
                                </div>
                                <div class="col-lg-3">
                                     <input type="text" id="datetimepickerKid2" name="kidScoreDate2" class="form-control m-b" placeholder="Select the score date" >
                                </div>
                                    <select class="form-control m-b grade" name="kidClassGrade2" id="kidClassGrade2">
                                        <option>Select your Children's current Grade</option>
                                        <option>Freshmen</option>
                                        <option>Sophomore</option>
                                        <option>Junior</option>
                                        <option>Senior</option>
                                    </select>
                            </div> 
                                <div class="form-group">
                                    <label>What is <span id="kid2name">your children</span>'s education area of interest?</label>
                                    
                                    <select class="form-control m-b" name="kidStudy2" onchange="kidStudy2Changed(this.value)" id="kidStudy2">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>Interested in a particular whithin this field?</label>
                                    <select class="form-control m-b" onchange="particularArea1KidTwoChanged(this.value)" name="particularArea1KidTwo" id="particularArea1KidTwo" disabled>
                                        <option></option>
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>...And any areas whithin this subfield</label>
                                    <select class="form-control m-b" name="particularArea2KidTwo" id="particularArea2KidTwo" disabled>
                                        <option></option>
                                </select>
                                    <input type="hidden" name="kid2Study" id="kid2Study">
                            </div> 
                                <div class="form-group">
                                    <label>What career would <span id="kid2name">your kid</span> like?</label>
                                    <input type="text" id="kid2Career" name="kid2Career" class="form-control open-search m-b" placeholder="Search your desired title">
                                    <a href="javascript:void(0)" style="margin-right: 5px;" class="pull-right" id="hideKidTwo"><i class="fa fa-chevron-up">Hide</i></a>
                            </div>                                     
                        </div>
                            <div id="3" class="div_kd">
                                <div class="form-group " >
                                    <label>Enter Details of Third Child</label>
                                    <input type="text" name="kidName3" class="form-control m-b" id="kidName3" placeholder="Enter name of the child">
                                    <input type="number" name="kidAge3" class="form-control m-b" placeholder="Select age of the child">
                                    <input type="text" id="kidSchool3" name="kidSchool3" class="form-control m-b" placeholder="Enter name of the school">
                                <div class="col-lg-3">
                                     <input type="number" name="kidGPA3" class="form-control m-b only-number set-gpak3" placeholder="Enter the GPA (1-4)" min="1" max="4">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidSAT3" class="form-control m-b only-number set-satk3" placeholder="Enter the SAT (500-2400)" min="500" max="2400">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidACT3" class="form-control m-b only-number set-actk3" placeholder="Enter the ACT (1-36)" min="1" max="36">
                                </div>
                                <div class="col-lg-3">
                                     <input type="text" id="datetimepickerKid3" name="kidScoreDate3" class="form-control m-b" placeholder="Select the score date" >
                                </div>
                                    <select class="form-control m-b grade" name="kidClassGrade3" id="kidClassGrade3">
                                        <option>Select your Children's current Grade</option>
                                        <option>Freshmen</option>
                                        <option>Sophomore</option>
                                        <option>Junior</option>
                                        <option>Senior</option>
                                    </select>
                            </div> 
                                <div class="form-group">
                                    <label>What is <span id="kid3name">your children</span>'s education area of interest?</label>
                                    <select class="form-control m-b" name="kidStudy3" onchange="kidStudy3Changed(this.value)" id="kidStudy3">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>Interested in a particular whithin this field?</label>
                                    <select class="form-control m-b" onchange="particularArea1KidThreeChanged(this.value)" name="particularArea1KidThree" id="particularArea1KidThree" disabled>
                                        <option></option>
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>...And any areas whithin this subfield</label>
                                    <select class="form-control m-b" name="particularArea2KidThree" id="particularArea2KidThree" disabled>
                                        <option></option>
                                </select>
                                   <input type="hidden" name="kid3Study" id="kid3Study">
                            </div>  
                                <div class="form-group">
                                    <label>What career would <span id="kid3name">your kid</span> like?</label>
                                    <input type="text" id="kid3Career" name="kid3Career" class="form-control open-search m-b" placeholder="Search your desired title">
                                    <a href="javascript:void(0)" style="margin-right: 5px;" class="pull-right" id="hideKidThree"><i class="fa fa-chevron-up">Hide</i></a>
                            </div>                                    
                        </div>
                            <div id="4" class="div_kd">
                                <div class="form-group " >
                                    <label>Enter Details of Fourth Child</label>
                                    <input type="text" name="kidName4" class="form-control m-b" id="kidName4" placeholder="Enter name of the child">
                                    <input type="number" name="kidAge4" class="form-control m-b" placeholder="Select age of the child">
                                    <input type="text" id="kidSchool4" name="kidSchool4" class="form-control m-b" placeholder="Enter name of the school">
                                <div class="col-lg-3">
                                     <input type="number" name="kidGPA4" class="form-control m-b only-number set-gpak4" placeholder="Enter the GPA (1-4)" min="1" max="4">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidSAT4" class="form-control m-b only-number set-satk4" placeholder="Enter the SAT (500-2400)" min="500" max="2400">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" name="kidACT4" class="form-control m-b only-number set-actk4" placeholder="Enter the ACT (1-36)" min="1" max="36">
                                </div>
                                <div class="col-lg-3">
                                     <input type="text" id="datetimepickerKid4" name="kidScoreDate4" class="form-control m-b" placeholder="Select the score date" >
                                </div>
                                   <select class="form-control m-b grade" name="kidClassGrade4" id="kidClassGrade4">
                                        <option>Select your Children's current Grade</option>
                                        <option>Freshmen</option>
                                        <option>Sophomore</option>
                                        <option>Junior</option>
                                        <option>Senior</option>
                                    </select>
                            </div> 
                                <div class="form-group">
                                    <label>What is <span id="kid4name">your children</span>'s education area of interest?</label>
                                    <select class="form-control m-b" name="kidStudy4" onchange="kidStudy4Changed(this.value)" id="kidStudy4">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>Interested in a particular whithin this field?</label>
                                    <select class="form-control m-b" onchange="particularArea1KidFourChanged(this.value)" name="particularArea1KidFour" id="particularArea1KidFour" disabled>
                                        <option></option>
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>...And any areas whithin this subfield</label>
                                    <select class="form-control m-b" name="particularArea2KidFour" id="particularArea2KidFour" disabled>
                                        <option></option>
                                </select>
                                    <input type="hidden" name="kid4Study" id="kid4Study">
                            </div>                                        
                                <div class="form-group">
                                    <label>What career would <span id="kid4name">your kid</span> like?</label>
                                    <input type="text" id="kid4Career" name="kid4Career" class="form-control open-search m-b" placeholder="Search your desired title">
                                    <a href="javascript:void(0)" style="margin-right: 5px;" class="pull-right" id="hideKidFour"><i class="fa fa-chevron-up">Hide</i></a>
                            </div> 
                        </div>
                            <div id="5" class="div_kd">
                                <div class="form-group " >
                                    <label>Enter Details of Fifth Child</label>
                                    <input type="text" name="kidName5" class="form-control m-b" id="kidName5" placeholder="Enter name of the child">
                                    <input type="number" id="kidAge5" name="kidAge5" class="form-control m-b" placeholder="Select age of the child">
                                    <input type="text" id="kidSchool5" name="kidSchool5" class="form-control m-b" placeholder="Enter name of the school">
                                <div class="col-lg-3">
                                     <input type="number" id="kidGPA5" name="kidGPA5" class="form-control m-b only-number set-gpak5" placeholder="Enter the GPA (1-4)" min="1" max="4">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" id="kidSAT5" name="kidSAT5" class="form-control m-b only-number set-satk5" placeholder="Enter the SAT (500-2400)" min="500" max="2400">
                                </div>
                                <div class="col-lg-3">
                                     <input type="number" id="kidACT5" name="kidACT5" class="form-control m-b only-number set-actk5" placeholder="Enter the ACT (1-36)" min="1" max="36">
                                </div>
                                <div class="col-lg-3">
                                     <input type="text" id="datetimepickerKid5" name="kidScoreDate5" class="form-control m-b" placeholder="Select the score date" >
                                </div>
                                   <select class="form-control m-b grade" name="kidClassGrade5" id="kidClassGrade5">
                                        <option>Select your Children's current Grade</option>
                                        <option>Freshmen</option>
                                        <option>Sophomore</option>
                                        <option>Junior</option>
                                        <option>Senior</option>
                                    </select>
                            </div> 
                                <div class="form-group">
                                    <label>What is <span id="kid5name">your children</span>'s education area of interest?</label>
                                    <select class="form-control m-b" name="kidStudy5" onchange="kidStudy5Changed(this.value)" id="kidStudy5">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>Interested in a particular whithin this field?</label>
                                    <select class="form-control m-b" onchange="particularArea1KidFiveChanged(this.value)" name="particularArea1KidFive" id="particularArea1KidFive" disabled>
                                        <option></option>
                                </select>
                            </div>
                                <div class="form-group">
                                    <label>...And any areas whithin this subfield</label>
                                    <select class="form-control m-b" name="particularArea2KidFive" id="particularArea2KidFive" disabled>
                                        <option></option>
                                </select>
                                    <input type="hidden" name="kid5Study" id="kid5Study">
                            </div>
                                <div class="form-group">
                                    <label>What career would <span id="kid5name">your kid</span> like?</label>
                                    <input type="text" id="kid5Career" name="kid5Career" class="form-control open-search m-b" placeholder="Search your desired title">
                                    <a href="javascript:void(0)" style="margin-right: 5px;" class="pull-right" id="hideKidFive"><i class="fa fa-chevron-up">Hide</i></a>
                            </div>                                       
                        </div>
                            <!-- #kids details -->
                            
                            <div class="form-group">
                                <label class="tooltip" title="Have you considered any college or university for your children? We will find valuable resources by university such as requirements, funding, scholarships, tutoring and mentors to help your children get into the university they want">Colleges of Interest?<span class="fa fa-question-circle"></span></label>
                                <input id="colleges1" name="colleges1" class="form-control m-b">
                        </div>
                            <!--div class="form-group">
                                <label>location of Interest?</label>
                                <input id="states1" name="states1" class="form-control m-b">
                        </div-->
                    </div>
                </div>
                    <div class="row step2 hs_student" style="padding-left:30px; padding-right:30px;">
                     <h1>Let's get you into the college and career of your dreams!</h1>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Where is your high school (Which US State)?</label>
                                <select class="form-control m-b" name="hsHighSchoolLoc" id="hsHighSchoolLoc" onchange="hsHighSchoolLocChanged(this.value)">
                                    <option></option>
                                    {% for state in states2 %}
                                        <option value="{{ state.abbreviation }}">{{ state.name }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                            <div class="form-group">
                                <label>What is your high school name?</label>
                                <input type="text" class="form-control m-b" name="hsHighSchool" id="hsHighSchool" disabled>
                        </div>
                            <div class="form-group">
                                <div class="col-lg-4">
                                 <label>What is your GPA? (1-4)</label>
                                 <input type="number" class="form-control m-b only-number set-gpa" name="hsGPA" id="hsGPA" min="1" max="4">
                            </div>
                                <div class="col-lg-4">
                                 <label>What is your SAT? (500-2400)</label>
                                 <input type="number" class="form-control m-b only-number set-sat" name="hsSAT" id="hsSAT" min="500" max="2400" >
                            </div>
                                <div class="col-lg-4">
                                 <label>What is your ACT? (1-36)</label>
                                 <input type="number" class="form-control m-b only-number set-act" name="hsACT" id="hsACT" min="1" max="36">
                            </div>
                        </div>
                            <div class="form-group">
                                 <select class="form-control m-b grade" name="hsClassGrade" id="hsClassGrade">
                                        <option>Select your current Grade</option>
                                        <option>Freshmen</option>
                                        <option>Sophomore</option>
                                        <option>Junior</option>
                                        <option>Senior</option>
                                    </select>
                        </div>
                            <div class="form-group">
                                <label class="tooltip" title="Do you already have a passion or an idea of that you would like to study? We have classified some of the most popular fields of study to help you figure out some options... Don't worry if you do not know yet! But it is a good idea to learn what the options are. The optionns below are classified in three levels">What area of study are you interested in?<span class="fa fa-question-circle"></span></label>
                                <select class="form-control m-b" name="collegeMajorsColleges2" id="collegeMajorsColleges2" onchange="collegeMajorsColleges2Changed(this.value)">
                                    <option></option>
                                    {% for item in collegeMajorsColleges %}
                                        <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                            <div class="form-group">
                                <label>Any field whithin this area?</label>
                                <select class="form-control m-b" onchange="particularAreaHs2Changed(this.value)" name="particularArea2" id="particularAreaHs2" disabled>
                                    <option></option>
                            </select>
                        </div>
                            <div class="form-group">
                                <label>And your focus area whithin this field?</label>
                                <select class="form-control m-b"  name="hsStudtTitle" id="hsStudtTitle" disabled >
                                    <option></option>
                            </select>
                                <input type="hidden" name="hsStudtTitleHidden" id="hsStudtTitleHidden">
                        </div>
                            <div class="form-group">
                                <label class="tooltip" title="We will provide you with targeted content based on your career goals. If you already have an idea of what you would like to do we can start providing with valuable resources for your specific field of interest">What career/job title would you like to have?<span class="fa fa-question-circle"></span></label>
                                <input type="text" class="form-control m-b"  name="hsJobTitle" id="hsJobTitle" >
                        </div>
                            <div class="form-group">
                               <label class="tooltip" title="Have you considered any college or university? We will find valuable resources by university such as requirements, funding, scholarships, tutoring and mentors to help you get into the university you want">Colleges of Interest?<span class="fa fa-question-circle"></span></label>
                                <input id="colleges2" name="colleges2" class="form-control m-b">
                        </div>
                            <!--div class="form-group">
                                <label>location of interest?</label>
                                <input id="states2" name="states2" class="form-control m-b">
                        </div-->
                    </div>
                </div>
                    <div class="row step2 coll_student" style="padding-left:30px; padding-right:30px;">
                     <center><h3>Tell us about your goals and where you are! </h3>
                     <h5 style="color:#09c">We will match your information with people that have been in your shoes! </h5></center><br><center><h2>Your Education</h2></center>
                        <div class="col-lg-12">
                        
                                <div class="form-group">
                                    <label>What School/University do you go to?</label>
                                    <input id="colleges3" name="colleges3" class="form-control m-b">
                            </div>
                           
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="tolltip" title="95% of US graduates work in fields not related to their education background. It is important that you explore the opportunities of leveraging your degree across different fields of study">Have you picked a College (e.g Business, Arts, Engineering)?<span class="fa fa-question-circle"></span></label>
                                    <select class="form-control m-b" name="collegeMajorsColleges3" id="collegeMajorsColleges3">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>...A major whithin this College? </label>
                                    <select class="form-control m-b" name="particularArea3" id="particularArea3" disabled onchange="changedCollegeThird(this.value)">
                                        <option></option>
                                </select>
                            </div>
                        </div>
                          
                            
                            <div class="form-group">
                                <label>...A focused area whithin this Major?</label>
                                <!-- <input id="collCurrentStudy" name="collCurrentStudy" type="text" class="form-control required"> -->
                                <select class="form-control" name="collparticularArea3" id="collparticularArea3" disabled>
                                        <option></option>
                                </select>
                                <input type="hidden" name="collparticularArea3Hidden" id="collparticularArea3Hidden">

                        </div>

                             <div class="form-group">
                              <label class="tooltip" title="95% of US graduates work in fields not related to their education background. It is important that you explore the opportunities of leveraging your degree across different fields of study">Any fields of interest outside your own you want to explore?<span class="fa fa-question-circle"></span></label>
                                <input id="collDesiredStudy" name="collDesiredStudy" type="text" class="form-control required">
                        </div>
                            <br>
                            <center><h2>Your Resume and your Career</h2></center>
                            <br>
                            <div class="form-group">
                                    <center><label style="color:#09c" class="tooltip" title="go to www.indeed.com. visit your resume page and copy/paste the url of your resume below">Do you have a resume with indeed? (www.indeed.com) Enter your indeed resume url below and save time!<span class="fa fa-question-circle"></span></label></center>
                                    <input placeholder="http://www.indeed.com/r/yourname/yourid" type="url" id="indeedUrl" name="indeedUrl" class="form-control m-b">
                        </div>


                            <div class="form-group">
                                <label class="tooltip" title="We will provide you with targeted content based on your career goals. If you already have an idea of what you would like to do we can start providing with valuable resources for your specific field of interest">What career/job title would you like to have?<span class="fa fa-question-circle"></span></label>
                                <input id="jobtitle" name="jobtitle" type="text" class="form-control required">
                        </div>
                            <div class="form-group">
                                <label class="tooltip" title="We will provide you with targeted content based on your career goals. If you already have an idea of where you would like to work we can start providing with jobs, job descriptions, and resources from individual that have worked in the companies you are targeting">What Companies would you like to work for?<span class="fa fa-question-circle"></span></label>
                                <input id="company" name="company" type="text" class="form-control">
                        </div>
                            
                        
                            <div class="col-lg-6">
                                <!--div class="form-group">
                                    <label>Where would you like to work?</label>
                                    <input id="states3" name="states3" class="form-control m-b"
                            </div-->
                        </div>
                            
                    </div>
                </div>
                    <div class="row step2 professional" style="padding-left:30px; padding-right:30px;">
                        <div class="col-lg-12">
                         <div class="form-group">
                                    <br>
                            <center><h2>Your Resume and your Career</h2></center>
                            <br>
                            <div class="form-group">
                                      <center><label style="color:#09c" class="tooltip" title="go to www.indeed.com. visit your resume page and copy/paste the url of your resume below">Do you have a resume with indeed? (www.indeed.com) Enter your indeed resume url below and save time!<span class="fa fa-question-circle"></span></label></center>
                                    <input placeholder="http://www.indeed.com/r/yourname/yourid" type="url" id="indeedUrlP" name="indeedUrlP" class="form-control m-b">
                        </div>
                            <div class="form-group">
                                <label>What is your current job title?</label>
                                <input id="jobtitleCurrent" name="jobtitleCurrent" type="text" class="form-control required">
                        </div>
                            <div class="form-group">
                                <label class="tooltip" title="We will provide you with targeted content based on your career goals. If you already have an idea of what you would like to do we can start providing with valuable resources for your specific field of interest">What career/job title would you like to have?<span class="fa fa-question-circle"></span></label>
                                <input id="jobtitleP" name="jobtitleP" type="text" class="form-control required">
                        </div>
                            <div class="form-group">
                                 <label class="tooltip" title="We will provide you with targeted content based on your career goals. If you already have an idea of where you would like to work we can start providing with jobs, job descriptions, and resources from individual that have worked in the companies you are targeting">What Companies would you like to work for?<span class="fa fa-question-circle"></span></label>
                                <input id="company" name="company" type="text" class="form-control">
                        </div>
                            
                           
                            <!-- <div class="col-lg-6"> -->
                                <div class="form-group">
                                    <label>Where would you like to work?</label>
                                    <input id="states3" name="states3" class="form-control m-b">
                            </div>
                            <!-- </div> -->
                                                 <center>
                     <h2 style="color:#09c;">Get Inspired ... or Inspire Others</h2>
                     <p>Share your success with Steppingblocks and help others follow your path to great achievements!</p>
                     <br>
                 </center>
                            <div class="form-group">
                                 <label class="tooltip" title="We understand mentoring can be time consuming, so we have created a system in which you can pasively help others become succesful by allowing them to visualize your path to success. As a mentor you can post reccomendations (do and dont's), tips, tools and resources that you think were helpful along your path to success"><span class="fa fa-question-circle"></span>Would you like to become a mentor?</label>
                                <select id="isMentor" name="isMentor" class="form-control" onchange="showMentorSchool(this.value)">
                                    <option value="">Select</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="hideMentorSchool">
                                <div class="form-group">
                                    <label class="tooltip" title="A powerful tool for success is inspiration. Many indivdiuals may be able to visualize their success because others like them accomplished it. By sharing your beggining you will be able to inspire others that are starting up... Letting them know that they can be like you some day!"><span class="fa fa-question-circle"></span>Where is the high School you attended?</label>
                                    <select class="form-control m-b" name="pHighSchoolLoc" id="pHighSchoolLoc" onchange="pHighSchoolLocChanged(this.value)">
                                        <option></option>
                                        {% for state in states2 %}
                                            <option value="{{ state.abbreviation }}">{{ state.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>What was your high school name?</label>
                                    <input type="text" class="form-control m-b" name="pHighSchool" id="pHighSchool" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="tooltip" title="We will share your path and reccomendations based on the areas of expertise you are strongest"><span class="fa fa-question-circle"></span>What is your area of expertise?</label>
                                <input type="text" id="expertArea" name="expertArea" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Enter keywords for area of expertise (comma seperated)?</label>
                                <input type="text" id="expertAreaKeywords" name="expertAreaKeywords" class="form-control">
                            </div>
                                <br>
                            <center><h2>Your Education</h2></center>
                            <br>
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>What was/is your area of study?</label>
                                    <select class="form-control m-b" name="collegeMajorsColleges3" id="collegeMajorsColleges3" onchange="collegeMajorsColleges3Changed(this.value)">
                                        <option></option>
                                        {% for item in collegeMajorsColleges %}
                                            <option value="{{ item.coll_id }}">{{ item.college }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>And what concentration</label>
                                    <select class="form-control m-b" name="particularArea3P" id="particularArea3P" disabled>
                                        <option></option>
                                </select>
                                    <input type="hidden" name="particularArea3PHidden" id="particularArea3PHidden">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
                <h1>Scholarships</h1>
                <fieldset style="background-color:white;">
                    <div class="row">
                    <center><h3 style="color:black;">Millions of Scholarship Dollars Go Unused Every Year!</h3>
                    <br>
                    <h5 style="color:#09c;">We can match you to scholarships based on information about you!</h5>
                    <label class="tooltip" title="Milllions of dollars are left on the table every year on scholarships that people do not know about. There are thousands of ways and reason institutions and organizations give away scholarships. The sole purpose of this section is to match you with potential scholarships that may be applicable to you"><h5>Enter some keywords below that you believe will welp you qualify.<span class="fa fa-question-circle"></span></h5></label></center>
                        <div class="col-lg-12"  style="padding-left:30px; padding-right:30px;">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Race/Ethnicity keywords</label>
                                    <select class="form-control" id="race" name="race">
                                        <option value=""></option>
                                        <option value="Asian">Asian</option>
                                        <option value="Islander">Asian American</option>
                                        <option value="Islander">Afro American</option>
                                        <option value="Islander">African</option>
                                        <option value="Black">Black</option>
                                         <option value="Islander">Caucasian</option>
                                        <option value="Hispanic">Hispanic</option>
                                         <option value="Islander">Indian</option>
                                        <option value="European">European</option>
                                        <option value="Islander">Hawaiian</option>
                                        <option value="Islander">Islander</option>
                                        <option value="Latino">Latino</option>
                                        <option value="Latino">Latin American</option>
                                         <option value="Islander">Native American</option>
                                        <option value="Islander">Mexican American</option>
                                         <option value="Islander">White</option>
                                        
                                </select>
                            </div>
                        </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Religion Keywords</label>
                                    <select id="religion" name="religion" class="form-control">
                                        <option value=""></option>
                                        <option value="African Traditional Diasporic ">African Traditional Diasporic</option>
                                        <option value="Agnostic">Agnostic</option>
                                        <option value="Atheistt">Atheistt</option>
                                        <option value="Bahai">Bahai</option>
                                        <option value="Buddhism">Buddhism</option>
                                        <option value="Cao Dai">Cao Dai</option>
                                        <option value="Cao Dai">Catholic</option>
                                        <option value="Chinese traditional religion">Chinese traditional religion</option>
                                        <option value="Christian">Christian</option>
                                        <option value="Hinduism">Hinduism</option>
                                        <option value="Islam">Islam</option>
                                        <option value="Jainism ">Jainism</option>
                                        <option value="Juche">Juche</option>
                                        <option value="Judaism">Judaism </option>
                                        <option value="Neo-Paganism">Neo-Paganism</option>
                                        <option value="primal-indigenous">primal-indigenous</option>
                                        <option value="Rastafarianism">Rastafarianism</option>
                                        <option value="Scientology ">Scientology</option>
                                        <option value="Secular">Secular</option>
                                        <option value="Secular/Nonreligious/Agnostic/Atheist">Secular Nonreligious Agnostic Atheist   </option>
                                        <option value="Shinto">Shinto</option>
                                        <option value="Sikhism">Sikhism</option>
                                        <option value="Spiritism">Spiritism</option>
                                        <option value="Tenrikyo">Tenrikyo</option>
                                        <option value="Unitarian-Universalism">Unitarian-Universalism</option>
                                        <option value="Zoroastrianism">Zoroastrianism  </option>
                                </select>
                            </div>
                        </div>
                            
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Career or Field Education Keywords</label>
                                    <select id="maritalStatus" name="maritalStatus" class="form-control">
                                        <option value=""></option>
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorced">Divorced</option>
                                        <option value="Widowed">Widowed</option>
                                        <option value="Widowed">Adopted</option>
                                        <option value="Widowed">Orphan</option>
                                        <option value="Widowed">Single Mother</option>
                                        <option value="Widowed">Single Father</option>
                                        <option value="Widowed">Single Parent</option>

                                </select>
                            </div>
                        </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Sex/Sexual Orientation</label>
                                    <select id="sexualOrientation" name="sexualOrientation" class="form-control">
                                        <option value=""></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Female">Transgender</option>
                                        <option value="Female">Gay</option>
                                        <option value="Female">Bisexual</option>
                                        <option value="Female">Heterosexual</option>
                                        
                                </select>
                            </div>
                        </div>
                            
                            <div class="form-group">
                                <label>Nationality</label>
                                <select id="nationality" name="nationality" class="form-control">
                                    <option value=""></option>
                                            <option value="Country">Country</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="Andorra">Andorra</option>
        <option value="Angola">Angola</option>
        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
        <option value="Argentina">Argentina</option>
        <option value="Armenia">Armenia</option>
        <option value="Australia">Australia</option>
        <option value="Austria">Austria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="Bahamas">Bahamas</option>
        <option value="Bahrain">Bahrain</option>
        <option value="Bangladesh">Bangladesh</option>
        <option value="Barbados">Barbados</option>
        <option value="Belarus">Belarus</option>
        <option value="Belgium">Belgium</option>
        <option value="Belize">Belize</option>
        <option value="Benin">Benin</option>
        <option value="Bhutan">Bhutan</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
        <option value="Botswana">Botswana</option>
        <option value="Brazil">Brazil</option>
        <option value="Brunei Darussalam">Brunei Darussalam</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Burkina Faso">Burkina Faso</option>
        <option value="Burundi">Burundi</option>
        <option value="Cabo Verde">Cabo Verde</option>
        <option value="Cambodia">Cambodia</option>
        <option value="Cameroon">Cameroon</option>
        <option value="Canada">Canada</option>
        <option value="Central African Republic">Central African Republic</option>
        <option value="Chad">Chad</option>
        <option value="Chile">Chile</option>
        <option value="China">China</option>
        <option value="Colombia">Colombia</option>
        <option value="Comoros">Comoros</option>
        <option value="Congo">Congo</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Côte d'Ivoire">Côte d'Ivoire</option>
        <option value="Croatia">Croatia</option>
        <option value="Cuba">Cuba</option>
        <option value="Cyprus">Cyprus</option>
        <option value="Czech Republic">Czech Republic</option>
        <option value="Democratic People's Republic of Korea (North Korea)">Democratic People's Republic of Korea (North Korea)</option>
        <option value="Democratic Republic of the Cong">Democratic Republic of the Cong</option>
        <option value="Denmark">Denmark</option>
        <option value="Djibouti">Djibouti</option>
        <option value="Dominica">Dominica</option>
        <option value="Dominican Republic">Dominican Republic</option>
        <option value="Ecuador">Ecuador</option>
        <option value="Egypt">Egypt</option>
        <option value="El Salvador">El Salvador</option>
        <option value="Equatorial Guinea">Equatorial Guinea</option>
        <option value="Eritrea">Eritrea</option>
        <option value="Estonia">Estonia</option>
        <option value="Ethiopia">Ethiopia</option>
        <option value="Fiji">Fiji</option>
        <option value="Finland">Finland</option>
        <option value="France">France</option>
        <option value="Gabon">Gabon</option>
        <option value="Gambia">Gambia</option>
        <option value="Georgia">Georgia</option>
        <option value="Germany">Germany</option>
        <option value="Ghana">Ghana</option>
        <option value="Greece">Greece</option>
        <option value="Grenada">Grenada</option>
        <option value="Guatemala">Guatemala</option>
        <option value="Guinea">Guinea</option>
        <option value="Guinea-Bissau">Guinea-Bissau</option>
        <option value="Guyana">Guyana</option>
        <option value="Haiti">Haiti</option>
        <option value="Honduras">Honduras</option>
        <option value="Hungary">Hungary</option>
        <option value="Iceland">Iceland</option>
        <option value="India">India</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Iran">Iran</option>
        <option value="Iraq">Iraq</option>
        <option value="Ireland">Ireland</option>
        <option value="Israel">Israel</option>
        <option value="Italy">Italy</option>
        <option value="Jamaica">Jamaica</option>
        <option value="Japan">Japan</option>
        <option value="Jordan">Jordan</option>
        <option value="Kazakhstan">Kazakhstan</option>
        <option value="Kenya">Kenya</option>
        <option value="Kiribati">Kiribati</option>
        <option value="Kuwait">Kuwait</option>
        <option value="Kyrgyzstan">Kyrgyzstan</option>
        <option value="Lao People's Democratic Republic (Laos)">Lao People's Democratic Republic (Laos)</option>
        <option value="Latvia">Latvia</option>
        <option value="Lebanon">Lebanon</option>
        <option value="Lesotho">Lesotho</option>
        <option value="Liberia">Liberia</option>
        <option value="Libya">Libya</option>
        <option value="Liechtenstein">Liechtenstein</option>
        <option value="Lithuania">Lithuania</option>
        <option value="Luxembourg">Luxembourg</option>
        <option value="Macedonia">Macedonia</option>
        <option value="Madagascar">Madagascar</option>
        <option value="Malawi">Malawi</option>
        <option value="Malaysia">Malaysia</option>
        <option value="Maldives">Maldives</option>
        <option value="Mali">Mali</option>
        <option value="Malta">Malta</option>
        <option value="Marshall Islands">Marshall Islands</option>
        <option value="Mauritania">Mauritania</option>
        <option value="Mauritius">Mauritius</option>
        <option value="Mexico">Mexico</option>
        <option value="Micronesia (Federated States of)">Micronesia (Federated States of)</option>
        <option value="Monaco">Monaco</option>
        <option value="Mongolia">Mongolia</option>
        <option value="Montenegro">Montenegro</option>
        <option value="Morocco">Morocco</option>
        <option value="Mozambique">Mozambique</option>
        <option value="Myanmar">Myanmar</option>
        <option value="Namibia">Namibia</option>
        <option value="Nauru">Nauru</option>
        <option value="Nepal">Nepal</option>
        <option value="Netherlands">Netherlands</option>
        <option value="New Zealand">New Zealand</option>
        <option value="Nicaragua">Nicaragua</option>
        <option value="Niger">Niger</option>
        <option value="Nigeria">Nigeria</option>
        <option value="Norway">Norway</option>
        <option value="Oman">Oman</option>
        <option value="Pakistan">Pakistan</option>
        <option value="Palau">Palau</option>
        <option value="Panama">Panama</option>
        <option value="Papua New Guinea">Papua New Guinea</option>
        <option value="Paraguay">Paraguay</option>
        <option value="Peru">Peru</option>
        <option value="Philippines">Philippines</option>
        <option value="Poland">Poland</option>
        <option value="Portugal">Portugal</option>
        <option value="Qatar">Qatar</option>
        <option value="Republic of Korea (South Korea)">Republic of Korea (South Korea)</option>
        <option value="Republic of Moldova">Republic of Moldova</option>
        <option value="Romania">Romania</option>
        <option value="Russian Federation">Russian Federation</option>
        <option value="Rwanda">Rwanda</option>
        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
        <option value="Saint Lucia">Saint Lucia</option>
        <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
        <option value="Samoa">Samoa</option>
        <option value="San Marino">San Marino</option>
        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
        <option value="Saudi Arabia">Saudi Arabia</option>
        <option value="Senegal">Senegal</option>
        <option value="Serbia">Serbia</option>
        <option value="Seychelles">Seychelles</option>
        <option value="Sierra Leone">Sierra Leone</option>
        <option value="Singapore">Singapore</option>
        <option value="Slovakia">Slovakia</option>
        <option value="Slovenia">Slovenia</option>
        <option value="Solomon Islands">Solomon Islands</option>
        <option value="Somalia">Somalia</option>
        <option value="South Africa">South Africa</option>
        <option value="South Sudan">South Sudan</option>
        <option value="Spain">Spain</option>
        <option value="Sri Lanka">Sri Lanka</option>
        <option value="Sudan">Sudan</option>
        <option value="Suriname">Suriname</option>
        <option value="Swaziland">Swaziland</option>
        <option value="Sweden">Sweden</option>
        <option value="Switzerland">Switzerland</option>
        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
        <option value="Tajikistan">Tajikistan</option>
        <option value="Thailand">Thailand</option>
        <option value="Timor-Leste">Timor-Leste</option>
        <option value="Togo">Togo</option>
        <option value="Tonga">Tonga</option>
        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
        <option value="Tunisia">Tunisia</option>
        <option value="Turkey">Turkey</option>
        <option value="Turkmenistan">Turkmenistan</option>
        <option value="Tuvalu">Tuvalu</option>
        <option value="Uganda">Uganda</option>
        <option value="Ukraine">Ukraine</option>
        <option value="United Arab Emirates">United Arab Emirates</option>
        <option value="United Kingdom of Great Britain and Northern Ireland">United Kingdom of Great Britain and Northern Ireland</option>
        <option value="United Republic of Tanzania">United Republic of Tanzania</option>
        <option value="United States of America">United States of America</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Uzbekistan">Uzbekistan</option>
        <option value="Vanuatu">Vanuatu</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Vietnam">Vietnam</option>
        <option value="Yemen">Yemen</option>
        <option value="Zambia">Zambia</option>
        <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="form-group">
                                    <label class="tooltip" title="None of the above are applicable to you? Feel free to enter any keywords you believe may help you qualify for a scholarship. Keywords can be Veteran, Cancer, handiccaped, genius, math, science, finance (Any specific field of study or career), army, etrepreneur, sinior citizen, etc.">General Keywords<span class="fa fa-question-circle"></span></label>
                                    <input id="parentalStatus" name="parentalStatus" class="form-control m-b" placeholder="Enter any words you think may be relevant to you">
                        </div>
                    </div>
                </div>
            </fieldset>
                <h1>All set</h1>
                <fieldset style="background-color:white">
                    <div class="text-center" style="margin-top: 80px">
                    <center><img class="img-responsive" alt="image" src="img/applogo.png" style="height:100px; width: 100px;"></center>
                        <h2>All Set!</h2>
                        <h3>Let's start exploring opportunites</h3>
                         <h3>and find out what proffesionals are saying about your field of interest!</h3>
                </div>
            </fieldset>
      </form>
  </div>
</div>
</div>
    <a data-toggle="modal" href="javascript:void(0);" id="onlyMentorBtn" data-target="#onlyMentorModal"></a>
    <!-- only mentor popup -->
    <div id="onlyMentorModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Be a Mentor</h4>
                <p>Share your life learnings and help others leverage your experience so they can be successful</p>
             </div>
             <div class="modal-body">
                <input type="radio" checked="checked" name="onlyMentor" value="monly">I want to only be a contributing mentor
                <br><br>
                <input type="radio"  name="onlyMentor" value="mexplorer" >I want to explore Opportunities in Steppingblocks
                
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitMentor">Submit</button>
             </div>
          </div>
       </div>
    </div>
    <!-- only mentor popup -->
<div class="col-md-3"></div>
</div>
</body>
