<div ng-controller="AuthenticationController">
<!--   <h3 class="col-md-12 text-center">Or sign up using your email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" uib-popover="{{popoverMsg}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div> -->
      <body class="sidebar-top account2" data-page="login">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="login-block">
            <i class="user-img icons-faces-users-03"></i>
                    <!-- {% if messages.errors %}
                    <div class="alert alert-danger alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {% for error in messages.errors %}
                        <p>{{error.msg}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if messages.warnings %}
                    <div class="alert alert-warning alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {% for warning in messages.warnings %}
                        <p>{{warning.msg}}</p>
                        {% endfor %}
                    </div>
                    {% endif %} -->

                    <!-- {% if messages.success %}
                    <div class="alert alert-success alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {% for success in messages.success %}
                        <p>{{success.msg}}</p>
                        {% endfor %}
                    </div>
                    {% endif %} -->

                    <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                  </div>

             <div class="account-info">
                <!-- <a href="dashboard.html" class="logo"></a> -->
                <h2>Welcome To Steppingblocks</h2>
                <ul>
                    <li><i class="icon-arrow-right"></i> Find Your Opportunities</li>
                    <li><i class="icon-arrow-right"></i> Learn About Them</li>
                    <li><i class="icon-arrow-right"></i> Visualize Your Future</li>
                    <li><i class="icon-arrow-right"></i> We'll Help You Get There!</li>
                </ul>
            </div>
            <div class="account-form">
                <form class="form-signin" name="userForm" id="userForm" role="form" data-ng-submit="signup(userForm.$valid)" method="POST">
                    <input type="hidden" name="_csrf" value="{{_csrf}}">
                    <center><img class ="img-responsive" alt="image" src="../modules/users/client/img/sbnewlogo.png" style="height:26px; margin-right: 10px;"></center><br>
                    <h3><strong>Create</strong> Your Account </h3>
                    <br>
                     <div class="append-icon">
                        <input type="text" name="name" data-ng-model="credentials.name" class="form-control form-white username" placeholder="Name" required>
                        <i class="icon-user"></i>
                    </div>
                    <div class="append-icon">
                        <input type="email" name="email" id="name" data-ng-model="credentials.email" class="form-control form-white username" placeholder="Email" required>
                        <i class="icon-user"></i>
                    </div>
                    <div class="append-icon m-b-20">
                        <input type="password" name="password" class="form-control form-white password" placeholder="Password" data-ng-model="credentials.password" required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" id="submit-form" class="btn btn-lg btn-dark btn-rounded ladda-button" data-style="expand-left">Sign-Up</button>
                    <span class="forgot-password"><a id="password" href="forgot">Forgot password?</a>&nbsp&nbsp&nbsp&nbsp
                    <a id="login" href="authentication/signin">Log in</a></span>

                    <BR>
                    <BR><center>
                    We are excited to have you here! Steppingblocks is in Beta currently building it's platform... but we don't want to miss out on your feedback. Sign up if you would like to apply to the beta team for a preview of the platform. We will send you an email to confirm your access. <BR>
                    Thank you!


                    <br></center>
                    <!-- hide social login -->
                    <!-- <div class="form-footer">
                        <div class="social-btn">
                            <a class="btn-fb btn btn-lg btn-block btn-square" href="/auth/facebook" style="backgroud-color: #3b5998 !important; color:#fff !important;"><i class="fa fa-facebook pull-left"></i>Connect with Facebook</a>
                            <a class="btn btn-lg btn-block btn-blue btn-square" href="/auth/twitter" style="background-color:#4099FF !important; color:#fff !important;"><i class="fa fa-twitter pull-left"></i>Login with Twitter</a>
                             <a class="btn-fb btn btn-lg btn-block btn-square" href="/auth/google" style="background-color:red; !important; color:#fff !important;"><i class="fa fa-google pull-left"></i>Connect with Google</a>
                            <a class="btn btn-lg btn-block btn-blue btn-square" href="/auth/linkedin" style="background-color: #007bb6  !important; color:#fff !important;"><i class="fa fa-linkedin pull-left"></i>Login with LinkedIn</a>
                        </div>   
                        <div class="clearfix">
                            <p class="new-here"><a href="signup"></a></p>
                        </div>
                    </div> -->
                </form>
                <form class="form-password" role="form">
                    <h3><strong>Reset</strong> your password</h3>
                    <div class="append-icon m-b-20">
                        <input type="password" name="password" class="form-control form-white password" placeholder="Password" required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                    <div class="clearfix m-t-60">
                        <p class="pull-left m-t-20 m-b-0"><a id="login" href="#">Have an account? Sign In</a></p>
                        <p class="pull-right m-t-20 m-b-0"><a href="signup"></a></p>
                    </div>
                </form>
            </div>
        </div>
        <!-- END LOCKSCREEN BOX -->
        <p class="account-copyright">
            <span>Copyright © 2015 </span><span>Steppingblocks, LLC</span> <span>All rights reserved.</span>
        </p>

    </body>
</div>
