<div ng-controller="AuthenticationController">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="login-block">
            <i class="user-img icons-faces-users-03"></i>
                    <!-- {% if messages.errors %}
                    div class="alert alert-danger alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {% for error in messages.errors %}
                        <p>{{error.msg}}</p>
                        {% endfor %}
                    </div
                    {% endif %} -->
                    <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                  </div>

                    <!-- {% if messages.warnings %}
                    <div class="alert alert-warning alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {% for warning in messages.warnings %}
                        <p>{{warning.msg}}</p>
                        {% endfor %}
                    </div>
                    {% endif %} -->

                    <!-- {% if messages.success %}
                    <div class="alert alert-success alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {% for success in messages.success %}
                        <p>{{success.msg}}</p>
                        {% endfor %}
                    </div>
                    {% endif %} -->
                    
            <div class="account-info" style="background: linear-gradient(to right, #000000 , rgb(2, 82, 119));">
                    <center><img class="img-responsive" alt="image" src="../modules/users/client/img/sblogotest3.png" style="height:44px;"></center>
                    <br><br>
                <!-- <a href="dashboard.html" class="logo"></a> -->
                <strong><h1>Welcome!</h1></strong>
                <ul>
                    <li><i class="icon-arrow-right"></i> Find Your Opportunities</li>
                    <li><i class="icon-arrow-right"></i> Learn About Them</li>
                    <li><i class="icon-arrow-right"></i> Visualize Your Future</li>
                    <li><i class="icon-arrow-right"></i> We'll Help You Get There!</li>
                </ul>
            </div>
            <div class="account-form">
                <form class="form-signin" id="loginForm" name="loginForm" data-ng-submit="signin(loginForm.$valid)" role="form" method="POST">
                    <input type="hidden" name="_csrf" value="{{_csrf}}">
                     <center>
                    <h2><strong>LOG IN</strong> TO YOUR ACCOUNT </h2>
                    </center><br>
                    <br>
                    <div class="append-icon">
                        <input type="email" name="email" data-ng-model="credentials.email" id="name" class="form-control form-white username" placeholder="Email" required>
                        <i class="icon-user"></i>
                    </div>
                    <div class="append-icon m-b-20">
                        <input type="password" name="password" data-ng-model="credentials.password" class="form-control form-white password" placeholder="Password" required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" id="submit-form" class="btn btn-lg btn-dark btn-rounded ladda-button" data-style="expand-left" style="    background-color: #F44336;color: #fff;border-color: black;border: solid;">Sign In</button>
                    <span class="forgot-password"><a id="password" href="forgot">Forgot password?</a></span>
                    <BR>
                    <BR><center>
                    We are excited to have you here! Steppingblocks is in Beta currently building it's platform. If you have been granted partner access enter your user id and password. If you are interested in learning more and apply to become part of the beta team please sign up.
                    <br></center>
                    <br>
                    <a  class="btn btn-lg btn-dark btn-rounded ladda-button" href="authentication/signup">Sign Up</a>
                        
                    
                    <!-- hide socail login -->
                   <!--  <div class="form-footer">

                
                        <div class="social-btn">
                            <a class="btn-fb btn btn-lg btn-block btn-square" href="/auth/facebook" style="backgroud-color: #3b5998 !important; color:#fff !important;"><i class="fa fa-facebook pull-left"></i>Connect with Facebook</a>
                            <a class="btn btn-lg btn-block btn-blue btn-square" href="/auth/twitter" style="background-color:#4099FF !important; color:#fff !important;"><i class="fa fa-twitter pull-left"></i>Login with Twitter</a>
                             <a class="btn-fb btn btn-lg btn-block btn-square" href="/auth/google" style="background-color:red; !important; color:#fff !important;"><i class="fa fa-google pull-left"></i>Connect with Google</a>
                            <a class="btn btn-lg btn-block btn-blue btn-square" href="/auth/linkedin" style="background-color: #007bb6  !important; color:#fff !important;"><i class="fa fa-linkedin pull-left"></i>Login with LinkedIn</a>
                        </div>  
                        <div class="clearfix">
                            <p class="new-here"><a href="signup">New here? Sign up</a></p>
                        </div>
                    </div> -->
                </form>
                <form class="form-password" role="form">
                    <h3><strong>Reset</strong> your password</h3>
                    <div class="append-icon m-b-20">
                        <input type="password" name="password" class="form-control form-white password" placeholder="Password" required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                    <div class="clearfix m-t-60">
                        <p class="pull-left m-t-20 m-b-0"><a id="login" href="#">Have an account? Sign In</a></p>
                        <p class="pull-right m-t-20 m-b-0"><a href="signup">New here? Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
        <!-- END LOCKSCREEN BOX -->
        <p class="account-copyright">
            <span>Copyright © 2015 </span><span>Steppingblocks, LLC.</span> <span>All rights reserved.</span>
        </p>
</div>
